<main id="main-group">
    <div class="container-fluid">
        <div class="p-3 mt-4">
            <form [formGroup]="filterForm" (ngSubmit)="applyFilters()" class="p-3 border rounded">
                <div class="row justify-content-between align-items-center">
                    <div class="row col-md-8">
                        <div class="col-md-12">
                            <input type="text" class="form-control shadow-none" placeholder="إبحث بإستخدام المجموعات الرئيسية">
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end align-items-center">
                        <button type="submit" class="btn-blue w-100 mx-2">
                            بحث <i class="fa fa-search me-1"></i> 
                        </button>
                        <button type="button" class="btn-red w-100 mx-2">
                            جديد <i class="fa fa-plus me-1"></i> 
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th>الرقم</th>
                    <th>وصف المجموعة</th>
                    <th>إجراءات</th>
                </tr>
            </thead>
            <tbody *ngIf="mainGroups?.length > 0">
                <tr *ngFor="let mainGroup of mainGroups | paginate : { id: 'paginate', itemsPerPage: pagingFilterModel.pageSize, currentPage: pagingFilterModel.currentPage, totalItems: total }" (click)="openMainGroup(mainGroup.id)" style="cursor: pointer">
                    <td>
                        <div class="d-flex align-items-center gap-2 justify-content-start">
                            <div class="avatar-circle">{{ mainGroup.mainGroupName.charAt(0) }}</div>
                            <span class="fw-bold">{{ mainGroup.mainGroupName }}</span>
                        </div>
                    </td>
                    <td class="text-secondary">{{ mainGroup.mainGroupDescription }}</td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="mainGroups?.length === 0">
                <tr>
                    <td colspan="3" class="text-center text-muted">لا يوجد مجموعات رئيسية حتى الآن</td>
                </tr>
            </tbody>
        </table>

        <div class="col-lg-12">
            <div *ngIf="total > 16" class="pagination-container my-0 px-3 d-flex justify-content-center align-items-center">
                <div class="my-pagination">
                    <pagination-controls id="paginate" (pageChange)="onPageChange($event)" (pageBoundsCorrection)="onPageChange($event)" [maxSize]="16" [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="" nextLabel="" screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</main>





<div class="modal fade" id="addMainGroupModal" tabindex="-1" aria-labelledby="addMainGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header justify-content-center">
              <h5 class="modal-title" id="addMainGroupModalLabel">إضافة مجموعة رئيسية</h5>
            </div>
            <div class="modal-body">
            <img src="assets/vendors/imgs/pattern.png" alt="" class="img-fluid">
          <form [formGroup]="mainGroupForm" (ngSubmit)="addMainGroup()">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-label" for="name">إسم المجموعة</label>
                  <input type="text" class="form-control shadow-none" formControlName="name" id="name" placeholder="أدخل إسم المجموعة">
                  <div *ngIf="mainGroupForm.get('name')?.invalid && mainGroupForm.get('name')?.touched" class="text-danger">
                    <ng-container *ngIf="mainGroupForm.get('name')?.errors?.['required']">إسم المجموعة مطلوب</ng-container>
                    <ng-container *ngIf="mainGroupForm.get('name')?.errors?.['minlength']">إسم المجموعة يجب أن يكون أكثر من 3 حروف</ng-container>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-label" for="description">الوصف</label>
                  <textarea class="form-control shadow-none" formControlName="description" id="description" placeholder="أدخل الوصف"></textarea>
                  <div *ngIf="mainGroupForm.get('description')?.invalid && mainGroupForm.get('description')?.touched" class="text-danger">
                    <ng-container *ngIf="mainGroupForm.get('description')?.errors?.['required']">الوصف مطلوب</ng-container>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="text-center mt-3">
              <button type="submit" class="btn-blue" [disabled]="mainGroupForm.invalid">إضافة المجموعة </button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>