<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
<div class="row mb-3">
    <div class="col-lg-2" *ngFor="let status of patientStatuses">
        <div class="card text-white p-3 text-center" (click)="ApplyCardFilter(status)" [ngStyle]="{ 'background-image': status.color }" style="cursor: pointer">
            <h4>{{ status.name }}</h4>
            <p class="mt-0">{{ status.count }} مريض</p>
            <div class="percentage d-flex align-items-center justify-content-center gap-1">
                <p class="m-0">12%</p>
                <i class="fa-regular fa-circle-arrow-up"></i>
            </div>
            <img src="{{status.img}}" class="vector" alt="">
        </div>
    </div>
</div>
<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="col-md-8 mb-2">
            <div class="d-flex align-items-center gap-2">
                <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" routerLink="/hms/patients/add">
                    <i class="fas fa-plus-circle"></i>
                    <span>إضافة مريض</span>
                </button>
                <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                    <i class="uil uil-filter"></i>
                    <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
                </button>
            </div>
        </div>
        <div class="col-md-4 mb-2" *ngIf="pagedResponseModel.totalCount > 0">
            <app-pagination (pageChanged)="onPageChange($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="pagedResponseModel.totalCount"></app-pagination>
        </div>
        <div class="col-md-12 mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
            <div class="d-flex align-items-center">
                <ng-container>
                    <app-filters [filterData]="patientStatuses" [filterPlaceholder]="'الحالة'" [searchPlaceholder]="'أدخل إسم المريض أو رقم الهاتف ...'" [categoryName]="'Status'" (filterChanged)="filterChecked($event)"></app-filters>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-hover bg-transparent m-0">
                <thead>
                    <tr>
                        <th>الاسم</th>
                        <th>العمر</th>
                        <th>الحالة</th>
                        <th>الرقم</th>
                        <!-- <th>عمليات</th> -->
                    </tr>
                </thead>
                <tbody>
                    <ng-container>
                        <tr *ngFor="let patient of patients" (click)="openDetailsSidePanel(DetailsSidePanel,patient)" class="cursor-pointer">
                            <!-- <td><input type="checkbox" class="big-checkbox"></td> -->
                            <!-- <td>
                                <img src="{{item.image}}" class="table-image">
                            </td> -->
                            <td>
                                <div class="d-flex align-items-center gap-2 justify-content-start">
                                    <div class="avatar-circle">{{ patient.patientName.charAt(0) }}</div>
                                    <span class="fw-bold">{{ patient.patientName }}</span>
                                </div>
                            </td>
                            <td class="text-secondary fw-semibold">{{ patient.dateOfBirth | age }} سنة</td>
                            <td>
                                <p class="text-white status-pill" *ngIf="patient.patientStatus" [ngStyle]="{ backgroundColor: getStatusColor(patient.patientStatus) }">
                                    {{ patient.patientStatus }}
                                </p>
                            </td>
                            <td>
                                {{ patient.patientId }}
                            </td>
                            <!-- <td>
                                <div class="w-100 d-flex align-items-center justify-content-center">
                                    <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2">
                                        <i class="uil uil-pen"></i>
                                        <span>تعديل</span>
                                    </button>
                                    <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2">
                                    <i class="uil uil-trash-alt"></i>
                                    <span>حذف</span>
                                </button>
                                </div>
                            </td> -->
                        </tr>
                        <tr *ngIf="!patients?.length">
                            <td colspan="12" class="text-right">
                                <app-empty-data [showEmptyData]="!patients?.length"></app-empty-data>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #DetailsSidePanel let-offcanvas>
    <div class="offcanvas-header justify-content-between gap-3 fs-4 border-bottom py-3">
        <div class="d-flex align-items-center gap-2">
            <i class="fas fa-info-circle offcanvas-header-icon"></i>
            <span>
                بيانات المريض الداخلي - {{admissionDetails?.patientName}}
            </span>
        </div>
        <div class="cursor-pointer text-danger fs-2" (click)="offcanvas.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="offcanvas-body pt-4 bg-light">
        <div class="inputs-wrapper border rounded bg-white mb-3">
            <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom">👤 بيانات المريض</div>
            <div class="inputs-sec-content table-responsive small-scroll">
                <table class="table table-bordered table-feature-value align-middle border m-0">
                    <tbody>
                        <tr>
                            <td class="table-feature">الاسم</td>
                            <td class="table-value">
                                {{ admissionDetails?.patientName || '---' }}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">الرقم الطبي</td>
                            <td class="table-value">
                                {{ admissionDetails?.patientId || '---' }}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">النوع</td>
                            <td class="table-value">
                                {{ admissionDetails?.patientGender || '---' }}
                            </td>
                        </tr>

                        <tr>
                            <td class="table-feature">تاريخ الميلاد</td>
                            <td class="table-value">
                                {{admissionDetails?.dateOfBirth | date:'yyyy-MM-dd'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">الهاتف</td>
                            <td class="table-value">
                                {{admissionDetails?.phone || '---'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">البلد</td>
                            <td class="table-value">
                                {{admissionDetails?.address || 'مصر - القاهرة'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="inputs-wrapper border rounded bg-white mb-3">
            <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom">🏥بيانات الإقامة</div>
            <div class="inputs-sec-content table-responsive small-scroll">
                <table class="table table-bordered table-feature-value align-middle border m-0">
                    <tbody>
                        <tr>
                            <td class="table-feature">تاريخ الدخول</td>
                            <td class="table-value">
                                {{admissionDetails?.admissionDate | date:'yyyy-MM-dd'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">القسم</td>
                            <td class="table-value">
                                {{admissionDetails?.departmentName || '---'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">الطبيب</td>
                            <td class="table-value">
                                {{admissionDetails?.doctorName || '---'}}
                            </td>
                        </tr>

                        <tr>
                            <td class="table-feature">الغرفة</td>
                            <td class="table-value">
                                {{admissionDetails?.roomNumber || '---'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">السرير</td>
                            <td class="table-value">
                                {{admissionDetails?.bedNumber || '---'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">نوع الغرفة</td>
                            <td class="table-value">
                                {{admissionDetails?.roomType || '---'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="inputs-wrapper border rounded bg-white mb-3" *ngIf="admissionDetails?.insurance">
            <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom">🛡بيانات التأمين</div>
            <div class="inputs-sec-content table-responsive small-scroll">
                <table class="table table-bordered table-feature-value align-middle border m-0">
                    <tbody>
                        <tr>
                            <td class="table-feature">شركة التأمين</td>
                            <td class="table-value">
                                {{admissionDetails?.insurance?.companyName}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">فئة التأمين</td>
                            <td class="table-value">
                                {{admissionDetails?.insurance?.planType}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">رقم التأمين</td>
                            <td class="table-value">
                                {{admissionDetails?.insurance?.insuranceNumber}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="inputs-wrapper border rounded bg-white mb-3">
            <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom">📞جهات الاتصال</div>
            <div class="inputs-sec-content table-responsive small-scroll">
                <table class="table table-bordered table-feature-value align-middle border m-0">
                    <tbody>
                        <tr>
                            <td class="table-feature">اسم جهة الاتصال</td>
                            <td class="table-value">
                                {{admissionDetails?.emergencyContact01}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">رقم الهاتف</td>
                            <td class="table-value">
                                {{admissionDetails?.emergencyPhone01}}
                            </td>
                        </tr>
                        <tr *ngIf="admissionDetails?.emergencyContact02">
                            <td class="table-feature">اسم جهة الاتصال</td>
                            <td class="table-value">
                                {{admissionDetails?.emergencyContact02}}
                            </td>
                        </tr>
                        <tr *ngIf="admissionDetails?.emergencyContact02">
                            <td class="table-feature">رقم الهاتف</td>
                            <td class="table-value">
                                {{admissionDetails?.emergencyPhone02}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="inputs-wrapper border rounded bg-white mb-3">
            <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom">📋بيانات إضافية</div>
            <div class="inputs-sec-content table-responsive small-scroll">
                <table class="table table-bordered table-feature-value align-middle border m-0">
                    <tbody>
                        <tr>
                            <td class="table-feature">تاريخ التسجيل</td>
                            <td class="table-value">
                                {{admissionDetails?.createdOn | date:'yyyy-MM-dd'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">أمراض مزمنة</td>
                            <td class="table-value">
                                {{admissionDetails?.chronicDiseases || '---'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">عمليات سابقة</td>
                            <td class="table-value">
                                {{admissionDetails?.previousSurgeries || '---'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="inputs-wrapper border rounded bg-white mb-3">
            <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom">📋معلومات سريعة</div>
            <div class="inputs-sec-content table-responsive small-scroll">
                <table class="table table-bordered table-feature-value align-middle border m-0">
                    <tbody>
                        <tr>
                            <td class="table-feature">عدد الفواتير</td>
                            <td class="table-value">
                                {{admissionDetails?.invoicesCount || '---'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">آخر فاتورة منشأة</td>
                            <td class="table-value">
                                {{admissionDetails?.lastInvoiceDate || '---'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">عدد الفواتير المستحقة</td>
                            <td class="table-value">
                                {{admissionDetails?.invoicesCount || '---'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-feature">آخر عملية دفع</td>
                            <td class="table-value">
                                {{admissionDetails?.lastPaymentDate || '---'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="row">
            <div class="col-2">
                <button class="btn col-12 btn-outline-info" (click)="openPatientUpdateStatusModal(PatientUpdateStatusModal)">تحديث الحالة</button>
            </div>
            <div class="col-2">
                <button class="btn col-12 btn-outline-info" (click)="openPatientMedicalHistoryModal(PatientMedicalHistoryModal)">التاريخ الطبي</button>
            </div>
            <div class="col-2">
                <button class="btn col-12 btn-outline-primary">ترتيب مواعيد</button>
            </div>
            <div class="col-2">
                <button class="btn col-12 btn-outline-success">إنشاء فاتورة</button>
            </div>
            <div class="col-2">
                <button class="btn col-12 btn-outline-warning">إضافة مدفوعات</button>
            </div>
            <div class="col-2">
                <button class="btn col-12 btn-outline-secondary">كشف حساب</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #PatientUpdateStatusModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <i class="uil uil-edit"></i>
            <span>تحديث حالة المريض</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="statusForm" autocomplete="off">
            <table class="table table-bordered table-feature-value align-middle border m-0">
                <tbody>
                    <tr>
                        <td class="table-feature">الاسم</td>
                        <td class="table-value">
                            {{ admissionDetails.patientName }}
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">رقم المريض</td>
                        <td class="table-value">
                            {{ admissionDetails.patientId }}
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">الحالة الحالية</td>
                        <td class="table-value">
                            {{ admissionDetails?.patientStatus }}
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">الحالة الجديدة</td>
                        <td class="table-value">
                            <div class="form-floating">
                                <app-drop-down-form-control [data]="patientStatuses" [placeholder]="'الحالة'" formControlName="newStatus"></app-drop-down-form-control>
                            </div>
                            <div *ngIf="statusForm.controls['newStatus']?.invalid && (statusForm.controls['newStatus']?.dirty || statusForm.controls['newStatus']?.touched)" class="error-message">
                                <span *ngIf="statusForm.controls['newStatus'].errors?.['required']">يرجى اختيار حالة</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">ملاحظة جديدة</td>
                        <td class="table-value">
                            <textarea id="newNote" class="form-control" rows="3" formControlName="notes"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer flex-nowrap gap-2">
        <button type="button" class="btn btn-success d-flex align-items-center justify-content-center gap-2 w-100" [disabled]="statusForm.invalid" (click)="updateStatus()">
            <i class="uil uil-save fs-3"></i>
            <span>حفظ التغييرات</span>
        </button>
        <button type="button" class="btn btn-danger d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle fs-3"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>

<ng-template #PatientMedicalHistoryModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <i class="uil uil-folder-info"></i>
            <span>السجل الطبي</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-feature-value align-middle border m-0 mb-3">
            <tbody>
                <tr>
                    <td class="table-feature">الاسم</td>
                    <td class="table-value">
                        {{ admissionDetails.patientName }}
                    </td>
                </tr>
                <tr>
                    <td class="table-feature">الهاتف</td>
                    <td class="table-value">
                        {{ admissionDetails?.phone }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="inputs-wrapper border rounded bg-white mb-3">
            <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom">🛏️ العيادات الداخلية</div>
            <div class="inputs-sec-content table-responsive small-scroll">
                <table class="table table-bordered text-center table-actions m-0">
                    <thead>
                        <tr>
                            <th>التاريخ</th>
                            <th>الطبيب</th>
                            <th>الغرفة</th>
                            <th>السرير</th>
                            <th>القسم</th>
                            <th>الحالة</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let history of medicalHistory?.admissions">
                            <td>{{ history.admissionDate | date : 'yyyy-MM-dd' }}</td>
                            <td>{{ history.doctorName }}</td>
                            <td>{{ history.roomNumber }}</td>
                            <td>{{ history.bedNumber }}</td>
                            <td>{{ history.departmentName }}</td>
                            <td>{{ mapStatusToArabic(history.patientStatus) }}</td>
                        </tr>
                        <tr *ngIf="!medicalHistory?.admissions?.length">
                            <td colspan="6" class="text-right">
                                <app-empty-data [showEmptyData]="!medicalHistory?.admissions?.length"></app-empty-data>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="inputs-wrapper border rounded bg-white mb-3">
            <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom">📅 العيادات الخارجية</div>
            <div class="inputs-sec-content table-responsive small-scroll">
                <table class="table table-bordered text-center table-actions m-0">
                    <thead>
                        <tr>
                            <th>التاريخ</th>
                            <th>الطبيب</th>
                            <th>الخدمة الطبية</th>
                            <th>الحالة</th>
                            <th>النوع</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let history of medicalHistory?.appointments">
                            <td>{{ history.appointmentDate | date : 'yyyy-MM-dd' }}</td>
                            <td>{{ history.doctorName }}</td>
                            <td>{{ history.medicalServiceName }}</td>
                            <td>{{ mapTypeToArabic(history.type) }}</td>
                            <td [ngClass]="{
                    'text-warning': history.status === 'Pending',
                    'text-success': history.status === 'Completed',
                    'text-danger': history.status === 'Cancelled'
                  }">
                                {{ mapStatusToArabic(history.status) }}
                            </td>
                        </tr>
                        <tr *ngIf="!medicalHistory?.appointments?.length">
                            <td colspan="6" class="text-right">
                                <app-empty-data [showEmptyData]="!medicalHistory?.appointments?.length"></app-empty-data>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>