
  <div class="report-container" id="printSection" #printSection>
    <!-- تكرار كل تذكرة -->
    <div *ngFor="let appointment of appointmentsSelected; let i = index" class="ticket">

      <div class="page-number">صفحة {{ i + 1 }}</div>

      <div class="report-title">
        <div class="header-info">
          <div class="logo-area">
            <img src="assets/vendors/imgs/logo.png" alt="logo">
          </div>
          <div>
            <h1>تذكرة الحجز</h1>
            <p>اسم المستشفى : النور المحمدي</p>
          </div>
        </div>
        <div class="booking-number">
          <span>رقم الحجز : {{ appointment.id || invoiceData?.appointmentNumber || '1' }}</span>
        </div>
      </div>

      <table class="patient-info">
        <tr>
          <td>اسم المريض : <strong>{{ invoiceData?.patientName }}</strong></td>
        </tr>
        <tr>
          <td>رقم الهاتف : <strong>{{ invoiceData?.patientPhone }}</strong></td>
        </tr>
        <tr>
          <td>الخدمة الطبية : <strong>{{ appointment.medicalServiceName }}</strong></td>
        </tr>
        <tr *ngIf="appointment.doctorName">
          <td>اسم الطبيب : <strong>{{ appointment.doctorName }}</strong></td>
        </tr>
        <tr>
          <td>ميعاد الحجز : <strong>{{ appointment.appointmentDate }}</strong></td>
        </tr>
        <tr>
          <td>تكلفة الحجز : <strong>{{ appointment.price || '0' }} جنيه</strong></td>
        </tr>

        <tr *ngIf="invoiceData?.insuranceCompanyId">
          <td>شركة التأمين : <strong>{{ invoiceData?.insuranceCompany || 'لا يوجد' }}</strong></td>
        </tr>
        <tr *ngIf="invoiceData?.insuranceCompanyId">
          <td>الرقم التأميني : <strong>{{ invoiceData?.insuranceNumber || 'لا يوجد' }}</strong></td>
        </tr>
        <tr *ngIf="invoiceData?.insuranceCategoryId">
          <td>الفئة : <strong>{{ invoiceData?.insuranceCategory || 'لا يوجد' }}</strong></td>
        </tr>
      </table>

      <hr>

      <div class="row">
        <div class="col-lg-6">
          <div class="phone-info">
            <small>الهاتف: <br> {{ invoiceData?.hospitalPhone || '01000201499' }}</small>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="email-info">
            <small>البريد الإلكتروني: {{ invoiceData?.hospitalEmail || 'info@elnourelmohamady.com' }}</small>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="user-info">
            <small>المستخدم : <br> {{ userName }}</small>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="date-info">
            <small>تاريخ الطباعة : <br> {{ currentDate | date:'yyyy-MM-dd HH:mm:ss' }}</small>
          </div>
        </div>
      </div>

      <hr />

      <div class="receipt-footer text-center">
        <p>شكرًا لاختياركم خدماتنا</p>
      </div>

    </div>
  </div>
