<div class="sidebar py-2" [class.collapsed]="isCollapsed">
    <button class="toggle-btn" (click)="toggleSidebar()" aria-label="Toggle Sidebar">
        <i class="fa" [ngClass]="{'fa-arrow-right': isCollapsed, 'fa-arrow-left': !isCollapsed}"></i>
    </button>
    <div class="user-profile">
        <img src="assets/vendors/imgs/logo.png" class="img-fluid" alt="Logo" />
    </div>
    <ul class="menu p-2">
        <li>
            <a routerLink="/hms/home" routerLinkActive="activSide">
                <i class="fa-solid fa-house"></i>
                <span *ngIf="!isCollapsed">إدارة المستشفى</span>
            </a>
        </li>
        <li *ngFor="let item of menusList">
            <ng-container *ngIf="!item.isGroup && !item.subMenus">
                <a [routerLink]="item.route" routerLinkActive="activSide">
                    <i [class]="item.icon"></i>
                    <span *ngIf="!isCollapsed">{{ item.displayName }}</span>
                </a>
            </ng-container>

            <ng-container *ngIf="item.subMenus && item.subMenus.length > 0">
                <a (click)="toggleMainMenu(item.displayName)">
                    <i [class]="item.icon"></i>
                    <span *ngIf="!isCollapsed">{{ item.displayName }}</span>
                    <i class="fa ms-auto" [ngClass]="{
          'fa-chevron-up': activeMenu === item.displayName,
          'fa-chevron-down': activeMenu !== item.displayName
        }" *ngIf="!isCollapsed"></i>
                </a>

                <ul class="submenu" [ngClass]="{'open': activeMenu === item.displayName}" *ngIf="!isCollapsed">
                    <li *ngFor="let child of item.subMenus">
                        <ng-container *ngIf="!child.subMenus">
                            <a [routerLink]="child.route" routerLinkActive="activSide">
                                <i [class]="child.icon"></i>
                                <span *ngIf="!isCollapsed">{{ child.displayName }}</span>
                            </a>
                        </ng-container>

                        <ng-container *ngIf="child.subMenus && child.subMenus.length > 0">
                            <a (click)="toggleChildMenu(child.displayName)">
                                <i [class]="child.icon"></i>
                                <span *ngIf="!isCollapsed">{{ child.displayName }}</span>
                                <i class="fa ms-auto" [ngClass]="{
                'fa-chevron-up': activeChildMenu === child.displayName,
                'fa-chevron-down': activeChildMenu !== child.displayName
              }" *ngIf="!isCollapsed"></i>
                            </a>

                            <ul class="submenu" [ngClass]="{'open': activeChildMenu === child.displayName}" *ngIf="!isCollapsed">
                                <li *ngFor="let subChild of child.subMenus">
                                    <a [routerLink]="subChild.route" routerLinkActive="activSub" class="a-subMenu">
                                        <i [class]="subChild.icon"></i> {{ subChild.displayName }}
                                    </a>
                                </li>
                            </ul>
                        </ng-container>
                    </li>
                </ul>
            </ng-container>
        </li>
    </ul>
    <!-- <ul class="menu p-2">
        <li>
            <a routerLink="/hms/staff/attendance" routerLinkActive="activSide">
                <i class="fa-solid fa-gear"></i>
                <span *ngIf="!isCollapsed">تسجيل الحضور</span>
            </a>
        </li>
    </ul> -->
    <div class="logout d-flex align-items-center justify-content-center px-4 text-danger" (click)="logout()">
        <a class="text-decoration-none text-danger" *ngIf="!isCollapsed">تسجيل الخروج</a>
        <i class="fa fa-sign-out-alt ms-auto"></i>
    </div>
</div>
