<div *ngIf="Taglist.length > 0" class="d-flex flex-wrap gap-1 align-items-center">
    <span class="badge round min-width-60 badge-muted" *ngFor="let tag of list">
    {{ tag | dayToArabic }}
  </span>
    <ng-container *ngIf="showWithMore && Taglist.length > 2">
        <span class="cursor-pointer badge round badge-light border text-muted px-2" [ngbPopover]="SetMoreContent" [popoverTitle]="header" container="body" triggers="click" (click)="$event.stopPropagation(); $event.preventDefault()">
      +{{ Taglist.length - 2 }} المزيد
    </span>
        <ng-template #SetMoreContent>
            <div class="min-width-200 max-width-500 small-scroll overflow-auto p-2" (click)="$event.stopPropagation(); $event.preventDefault()">
                <span class="badge round min-width-60 badge-muted me-1 mb-1" *ngFor="let tag of showMorelist">
          {{ tag | dayToArabic }}
        </span>
            </div>
        </ng-template>
    </ng-container>
</div>