<!-- <main id="apps">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="m-0 p-2">المرضى</h5>
                    <hr class="m-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">إدارة المرضى</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['patients_list'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['patients_list'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['patients_list']" (change)="updatePermission('patients_list')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">إضافة مريض</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['patients_add'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['patients_add'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['patients_add']" (change)="updatePermission('patients_add')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="m-0 p-2">الحجوزات</h5>
                    <hr class="m-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">إدارة الحجوزات</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['appointments_list'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['appointments_list'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['appointments_list']" (change)="updatePermission('appointments_list')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">إضافة حجز</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['appointments_add'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['appointments_add'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['appointments_add']" (change)="updatePermission('appointments_add')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">إعدادات الحجز</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['appointments_settings'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['appointments_settings'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['appointments_settings']" (change)="updatePermission('appointments_settings')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="m-0 p-2">الطوارئ</h5>
                    <hr class="m-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">إستقبال الطوارئ</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['emergency_reception'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['emergency_reception'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['emergency_reception']" (change)="updatePermission('emergency_reception')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="m-0 p-2">وكلاء التأمين</h5>
                    <hr class="m-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">وكلاء التأمين</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['insurance_list'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['insurance_list'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['insurance_list']" (change)="updatePermission('insurance_list')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">إضافة وكيل التأمين</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['insurance_add'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['insurance_add'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['insurance_add']" (change)="updatePermission('insurance_add')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="m-0 p-2">الحسابات</h5>
                    <hr class="m-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">الحسابات العامة</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['finance_accounts'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['finance_accounts'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['finance_accounts']" (change)="updatePermission('finance_accounts')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">المعاملات المالية</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['finance_transactions'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['finance_transactions'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['finance_transactions']" (change)="updatePermission('finance_transactions')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="m-0 p-2">المشتريات</h5>
                    <hr class="m-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">المخزون</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['inventory_stock'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['inventory_stock'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['inventory_stock']" (change)="updatePermission('inventory_stock')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">المشتريات</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['inventory_purchases'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['inventory_purchases'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['inventory_purchases']" (change)="updatePermission('inventory_purchases')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="m-0 p-2">الموارد البشرية</h5>
                    <hr class="m-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">إدارة الموظفين</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['staff_list'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['staff_list'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['staff_list']" (change)="updatePermission('staff_list')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">إضافة موظف</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['staff_add'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['staff_add'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['staff_add']" (change)="updatePermission('staff_add')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">الأقسام</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['staff_department'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['staff_department'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['staff_department']" (change)="updatePermission('staff_department')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">المستويات الوظيفية</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['staff_job_levels'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['staff_job_levels'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['staff_job_levels']" (change)="updatePermission('staff_job_levels')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">تصنيف الوظائف</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['staff_classification'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['staff_classification'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['staff_classification']" (change)="updatePermission('staff_classification')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">الوظائف</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['staff_job_management'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['staff_job_management'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['staff_job_management']" (change)="updatePermission('staff_job_management')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="m-0 p-2">التقارير</h5>
                    <hr class="m-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">تقارير المالية</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['reports_financial'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['reports_financial'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['reports_financial']" (change)="updatePermission('reports_financial')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">تقارير الطبية</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['reports_medical'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['reports_medical'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['reports_medical']" (change)="updatePermission('reports_medical')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="m-0 p-2">الاعدادات</h5>
                    <hr class="m-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">الإعدادات العامة</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['settings_general'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['settings_general'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['settings_general']" (change)="updatePermission('settings_general')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">إدارة الأطباء</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['settings_doctors_list'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['settings_doctors_list'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['settings_doctors_list']" (change)="updatePermission('settings_doctors_list')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">إضافة طبيب</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['settings_doctors'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['settings_doctors'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['settings_doctors']" (change)="updatePermission('settings_doctors')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">إدارة الخدمات الطبية</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['settings_medical_services'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['settings_medical_services'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['settings_medical_services']" (change)="updatePermission('settings_medical_services')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">إدارة الصلاحيات</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['settings_permissions'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['settings_permissions'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['settings_permissions']" (change)="updatePermission('settings_permissions')">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">إدارة التطبيقات</p>
                            <div class="d-flex align-items-center">
                                <span class="mx-2" [ngClass]="permissions['settings_apps_management'] ? 'text-success' : 'text-danger'">
                                    {{ permissions['settings_apps_management'] ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="permissions['settings_apps_management']" (change)="updatePermission('settings_apps_management')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> -->


<div class="row">
    <div class="col-lg-6 mb-3">
        <label for="patientGender" class="form-label">الصلاحيات</label>
        <select id="patientGender" class="form-select shadow-none" [(ngModel)]="RoleId" (change)="GetPagesByRoleId()">
            <option selected disabled value="">اختر صلاحية</option>
            <option [value]="role.roleId" *ngFor="let role of Roles">{{role.roleNameAr}}</option>
          </select>
    </div>
    <div class="col-lg-6 mt-4">
        <button type="submit" class="btn-blue col-2" (click)="AssignRoleToPages()">إضافة</button>
    </div>
    <main id="apps">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 mb-3" *ngFor="let app of Pages">
                    <div class="card">
                        <h5 class="m-0 p-2">{{ app.nameAR }}</h5>
                        <hr class="m-0">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-2" *ngFor="let perm of app.children">
                                <p class="m-0 fw-bold">{{ perm.nameAR }}</p>
                                <div class="d-flex align-items-center">
                                    <span class="mx-2" [ngClass]="perm.isSelected ? 'text-success' : 'text-danger'">
                                    {{ perm.isSelected ? 'تم التفعيل' : 'تم التعطيل' }}
                                </span>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="perm.isSelected">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>