<main id="reset" class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="carde shadow p-4" style="width: 100%; max-width: 450px;">
      <!-- <h3 class="text-center mb-4">إعادة تعيين كلمة المرور</h3> -->
      <div class="text-center">
        <img src="../../../assets/vendors/imgs/logo.png" width="211" alt="Logo">
      </div>
      <form [formGroup]="resetForm" (ngSubmit)="onResetPassword()">
        <div class="mb-3">
          <label class="form-label">كلمة المرور الجديدة</label>
          <input
            type="password"
            class="form-control"
            formControlName="newPassword"
            placeholder="أدخل كلمة المرور الجديدة"
          />
          <div *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched" class="text-danger">
            كلمة المرور مطلوبة
          </div>
        </div>
  
        <div class="mb-3">
          <label class="form-label">تأكيد كلمة المرور</label>
          <input
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="أدخل كلمة المرور مرة أخرى"
          />
          <div *ngIf="resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched" class="text-danger">
            تأكيد كلمة المرور مطلوب
          </div>
          <div *ngIf="passwordMismatch" class="text-danger">
            كلمتا المرور غير متطابقتين
          </div>
        </div>
  
        <div *ngIf="message" class="text-center text-danger mb-2">
          {{ message }}
        </div>
  
        <button type="submit" class="btn-blue w-100" [disabled]="resetForm.invalid">إعادة التعيين</button>
      </form>
    </div>
  </main>
  