<main id="add-notice">
    <div class="container-fluid">
        <app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
        <p-toast position="top-left"></p-toast>
        <!-- <div class="p-3 mt-4">
            <form [formGroup]="filterForm" (ngSubmit)="applyFilters()" class="p-3 border rounded">
                <div class="row justify-content-between align-items-center">
                    <div class="row col-md-8">
                        <div class="col-md-6">
                            <select formControlName="type" name="" id="" class="form-select text-end shadow-none">
                                <option selected disabled value="">اختر البنك </option>
                                <option *ngFor="let bank of banks" [value]="bank.id">{{ bank.name }}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" formControlName="SearchText" placeholder="ابحث بإستخدام رقم المستند" class="form-control text-end shadow-none" />
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end align-items-center">
                        <button type="submit" class="btn-blue w-100 mx-2">
                            بحث <i class="fa fa-search me-1"></i> 
                        </button>
                        <button data-bs-toggle="modal" data-bs-target="#addnoticePermissionModal" type="button" class="btn-red w-100 mx-2">
                            جديد <i class="fa fa-plus me-1"></i> 
                        </button>
                    </div>
                </div>
            </form>
        </div> -->
        <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
            <div class="col-md-8 mb-2">
                <div class="d-flex align-items-center gap-2">
                    <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" data-bs-toggle="modal" data-bs-target="#addnoticePermissionModal">
                <i class="fas fa-plus-circle"></i>
                <span>إضافة إشعار إضافة</span>
            </button>
                    <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                <i class="uil uil-filter"></i>
                <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
            </button>
                </div>
            </div>
            <div class="col-md-4 mb-2" *ngIf="total > 0">
                <app-pagination (pageChanged)="onPageChange($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="total"></app-pagination>
            </div>
            <div class="col-md-12 mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
                <div class="d-flex align-items-center">
                    <ng-container>
                        <app-filters [filterData]="banks" [filterPlaceholder]="'البنك'" [searchPlaceholder]="'أدخل إسم المريض أو رقم الهاتف ...'" [categoryName]="'Type'" (filterChanged)="filterChecked($event)"></app-filters>
                    </ng-container>
                </div>
            </div>
        </div>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th>رقم المستند</th>
                    <th>التاريخ</th>
                    <th>البنك</th>
                    <th>المبلغ</th>
                    <th>الإجراءات</th>
                </tr>
            </thead>
            <tbody *ngIf="additionNotifications?.length > 0">
                <tr *ngFor="let add of additionNotifications | paginate : { id: 'paginate', itemsPerPage: pagingFilterModel.pageSize, currentPage: pagingFilterModel.currentPage, totalItems: total }" (click)="openMainGroup(add.id)" style="cursor: pointer">
                    <td>{{ add.id }}</td>
                    <td>{{ add.date }}</td>
                    <td>{{ add.bankName }}</td>
                    <td>{{ add.amount + ' ج.م' }}</td>
                    <td>
                        <button type="button" class="btn btn-primary mx-2" (click)="printAdditionNotification(add.id)">
                            <i class="fa fa-print"></i>
                        </button>
                        <button type="button" class="btn btn-warning mx-2" (click)="editAdditionNotification(add.id)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger mx-2" (click)="deleteAdditionNotification(add.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="additionNotifications?.length === 0">
                <tr>
                    <td colspan="6" class="text-center text-muted">لا يوجد إشعارات إضافة حتى الآن</td>
                </tr>
            </tbody>
        </table>

        <!-- <div class="col-lg-12">
            <div *ngIf="total > 16" class="pagination-container my-0 px-3 d-flex justify-content-center align-items-center">
                <div class="my-pagination">
                    <pagination-controls id="paginate" (pageChange)="onPageChange($event)" (pageBoundsCorrection)="onPageChange($event)" [maxSize]="16" [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="" nextLabel="" screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                </div>
            </div>
        </div> -->
    </div>
</main>




<div class="modal fade" id="addnoticePermissionModal" tabindex="-1" aria-labelledby="addnoticePermissionModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="addnoticePermissionModalLabel">
                    {{ isEditMode ? 'تعديل إشعار إضافة' : 'إشعار إضافة جديد' }}
                </h5>
            </div>
            <div class="modal-body" style="background-image: url('assets/vendors/imgs/pattern.png'); background-size: cover;">
                <form [formGroup]="addNoticeGroup" (ngSubmit)="addAdditionNotification()">
                    <div class="p-3 mb-3">
                        <div class="row gy-3">

                            <div class="col-md-4">
                                <label class="form-label">التاريخ</label>
                                <input type="date" class="form-control shadow-none text-end" formControlName="date" />
                                <div class="text-danger" *ngIf="addNoticeGroup.get('date')?.errors?.['notToday'] && addNoticeGroup.get('date')?.touched">
                                    لا يمكن اختيار تاريخ سابق
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">اسم البنك</label>
                                <ng-select
                                  [items]="banks"
                                  bindLabel="name"
                                  bindValue="id"
                                  placeholder="اختر البنك"
                                  formControlName="bankId"
                                  class="text-end shadow-none w-100"
                                  [searchable]="true"
                                >
                                </ng-select>
                              </div>
                              
                              <div class="col-md-4">
                                <label class="form-label">اسم الحساب</label>
                                <ng-select
                                  [items]="accounts"
                                  bindLabel="nameAR"
                                  bindValue="accountId"
                                  placeholder="اختر الحساب"
                                  formControlName="accountId"
                                  class="text-end shadow-none w-100"
                                  [searchable]="true"
                                >
                                </ng-select>
                              </div>
                              

                            <div class="col-md-6">
                                <label class="form-label">المبلغ</label>
                                <input type="number" class="form-control shadow-none text-end" formControlName="amount" />
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">رقم الشيك</label>
                                <input type="text" class="form-control shadow-none text-end" formControlName="checkNumber" />
                            </div>

                            <div class="col-md-12">
                                <label class="form-label">ملاحظات</label>
                                <textarea rows="3" class="form-control shadow-none text-end" formControlName="notes"></textarea>
                            </div>

                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn-blue" [disabled]="addNoticeGroup.invalid">{{ isEditMode ? 'تعديل' : 'إضافة' }}</button>
                        <button class="btn-red mx-2" data-bs-dismiss="modal" (click)="resetForm()">خروج</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div id="printableAddition" dir="rtl" class=" rounded px-4 my-4" style="max-width: 900px; margin: auto;">
    <div class="border rounded p-2 mt-5" >
        <div class="d-flex justify-content-evenly align-items-center">
        <img src="assets/vendors/imgs/logo.png" alt="logo" style="height: 100px;" />
        <h5 class="fw-bold mb-1"> إشعار إضافة رقم <span class="text-primary"> {{ printedAddition?.id }}</span></h5>
        </div>
        <div class="row mt-3">
        <div class="col-md-6 mb-2"><strong>التاريخ:</strong> {{ printedAddition?.date }}</div>
        <div class="col-md-6 mb-2"><strong>البنك:</strong> {{ printedAddition?.bankName }}</div>
        <div class="col-md-6 mb-2"><strong>الحساب:</strong> {{ printedAddition?.accountName }}</div>
        <div class="col-md-6 mb-2"><strong>رقم الشيك:</strong> {{ printedAddition?.checkNumber || '---' }}</div>
        <div class="col-md-6 mb-2"><strong>المبلغ:</strong> {{ printedAddition?.amount }} جنيه</div>
        </div>
        <div class="mt-3"><strong>ملاحظات:</strong> {{ printedAddition?.notes || '---' }}</div>
        <hr>
        <div class="row mt-3">
            <div class="col-md-6">
                <small class="fw-bold">إسم المستخدم:</small> {{userName}}
            </div>
            <div class="col-md-6">
                <small class="fw-bold">التاريخ:</small> {{ today }}
            </div>
        </div>  
    </div>
    
    <!-- <div class="row text-center mt-5">
      <div class="col-md-6">
        <p>مسؤول المراجعة</p>
        <p>-------------------</p>
      </div>
      <div class="col-md-6">
        <p>أمين الخزينة</p>
        <p>-------------------</p>
      </div>
    </div> -->
    <!-- قيد اليومية -->
    <!-- <div style="page-break-before: always;"></div> -->
    <div class="border rounded p-2 mt-5" >
        <div class="d-flex justify-content-around align-items-center mb-2">
            <img src="assets/vendors/imgs/logo.png" alt="logo" style="height: 100px;" />
            <div>
                <h5 class="fw-bold mb-1"> قيد يومية رقم <span class="text-primary"> {{ printedAddition?.dailyRestriction?.restrictionNumber }}</span></h5>
            </div>
          </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <strong>التاريخ:</strong> {{ printedAddition?.dailyRestriction?.restrictionDate }}
        </div>
        <div class="col-md-6">
            <strong>رقم المستند:</strong> {{ printedAddition?.checkNumber }}
        </div>
    </div>

    <div class="mb-2">
      <strong>التوجيه المحاسبي:</strong> {{ printedAddition?.dailyRestriction?.accountingGuidanceName }}
    </div>
  
    <hr />
  
    <div class="mb-2">
      {{ printedAddition?.dailyRestriction?.amount }} &nbsp; &nbsp; من حـ/ <strong>{{ printedAddition?.dailyRestriction?.from }}</strong>
    </div>
    <hr />
    <div class="mb-2">
      {{ printedAddition?.dailyRestriction?.amount }} &nbsp; &nbsp; إلى حـ/ <strong>{{ printedAddition?.dailyRestriction?.to }}</strong>
    </div>
    <hr />
    <div class="mb-2">
      <strong>شرح القيد:</strong> {{ printedAddition?.dailyRestriction?.notes }}
    </div>
  
    <hr />
    <div class="row mt-3">
        <div class="col-md-6">
            <small class="fw-bold">إسم المستخدم:</small> {{userName}}
        </div>
        <div class="col-md-6">
            <small class="fw-bold">التاريخ:</small> {{ today }}
        </div>
    </div>
    </div>
</div>
