<main id="insurance-list" @fadeIn>
  
  <section class="section2" id="table-insurance">
    <div class="card mt-3 p-2">
      <div class="p-3 mt-4">
        <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
          <div class="row justify-content-between align-items-center g-2">
            <div class="col-lg-8 row">
              <div class="col-lg-2">
                <!-- <button type="submit" class="btn-blue w-100">تطبيق</button> -->
                <button type="button" (click)="resetFilters()" class="btn-cancel w-100">إظهار الكل</button>
              </div>
              <div class="col-lg-4">
                <input
                  type="text"
                        class="form-control shadow-none"
                        placeholder="أدخل إسم الشركة التأمين"
                        formControlName="Search"
                      />
              </div>
            </div>
            <div class="col-lg-2">
              <button type="button" routerLink="/hms/insurance/add-insurance" class="btn-purble">+ إضافة شركة تأمين</button>
            </div>
          </div>
        </form>
      </div>
        
      <table class="table table-hover mt-4">
        <thead>
          <tr>
            <th>الإسم</th>
            <th>الشركة</th>
            <th>رقم الهاتف</th>
            <th>البريد الالكتروني</th>
            <th>الحالة</th>

            <!-- <th>الإجراءات</th> -->
          </tr>
        </thead>
        <tbody *ngIf="insurnaces?.length > 0">
          <tr
                    *ngFor="let insurnace of insurnaces | paginate : { id: 'paginate', itemsPerPage: pageSize, currentPage: currentPage, totalItems: total }"
                    (click)="openInsuranceModal(insurnace.id)"
                    data-bs-toggle="modal"
                    data-bs-target="#insuranceModal"
                    style="cursor: pointer"
                  >
                    <td>
                      <div class="d-flex align-items-center gap-2 justify-content-start">
                        <!-- <div class="avatar-circle">{{ insurnace.fullName.charAt(0) }}</div> -->
                        <span class="fw-bold">{{ insurnace.name }}</span>
                      </div>
                    </td>
                    <td>
                      {{ insurnace.code }}
                    </td>
                    <td>
                      {{ insurnace.contactNumber }}
                    </td>
                    <td>
                      {{ insurnace.email }}
                    </td>
                    <td>
                        <span
                          class="status-pill"
                          [ngClass]="{
                            'bg-success': insurnace.isActive === true,
                            'bg-secondary': insurnace.isActive === false
                          }"
                        >
                          {{ insurnace.isActive ? 'متاح' : 'غير متاح' }}
                        </span>
                      </td>
                      
              
                    <!-- <td>
                      <button class="btn btn-outline-warning">
                        <i class="fa-light fa-pen-to-square"></i>
                      </button>
                    </td> -->
                  </tr>
                </tbody>
              
                <tbody *ngIf="insurnaces?.length === 0">
                  <tr>
                    <td colspan="6" class="text-center text-muted">لا توجد شركات تأمين حتى الآن</td>
                  </tr>
                </tbody>
            </table>
            
        
            <div class="col-lg-12">
              <div
                *ngIf="total > 16"
                class="pagination-container my-0 px-3 d-flex justify-content-center align-items-center"
              >
                <div class="my-pagination">
                  <pagination-controls
                    id="paginate"
                    (pageChange)="onPageChange($event)"
                    (pageBoundsCorrection)="onPageChange($event)"
                    [maxSize]="16"
                    [directionLinks]="true"
                    [autoHide]="true"
                    [responsive]="true"
                    previousLabel=""
                    nextLabel=""
                    screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page"
                  >
                  </pagination-controls>
                </div>
              </div>
            </div>
          </div>
  </section>
</main>


<div class="modal fade" id="insuranceModal" tabindex="-1" aria-labelledby="insuranceLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <img src="assets/vendors/imgs/pattern.png" alt="" class="img-fluid">

      <div id="pdfContent" class="print-section">
        <div class="modal-header justify-content-center text-center">
          <h5 class="text-center modal-title" id="insuranceLabel">تفاصيل شركة التأمين</h5>
        </div>

        <div class="modal-body p-4">
          <h4 class="mb-3">🏢بيانات الشركة</h4>
          <div class="row mb-3">
            <div class="col-lg-4">
              <strong class="strong">الاسم:</strong> <span class="span"> {{ selectedInsurance?.name }}</span> 
            </div>
            <div class="col-lg-4">
              <strong class="strong">الكود:</strong> <span class="span"> {{ selectedInsurance?.code }}</span>
            </div>
            <div class="col-lg-4">
              <strong class="strong">الحالة:</strong> <span class="span"> {{ selectedInsurance?.isActive === true ? 'متاح' : 'غير متاح' }}</span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-4">
              <strong class="strong">رقم التواصل:</strong> <span class="span"> {{ selectedInsurance?.contactNumber }}</span>
            </div>
            <div class="col-lg-4">
              <strong class="strong">البريد الإلكتروني:</strong> <span class="span"> {{ selectedInsurance?.email }}</span>
            </div>
            <div class="col-lg-4">
              <strong class="strong">عدد الحالات المعالجة:</strong> <span class="span"> {{ selectedInsurance?.processedClaimsCount }}</span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-6">
              <strong class="strong">إجمالي المبلغ المستحق من الشركة:</strong> <span class="span"> {{ selectedInsurance?.totalAmountDue || 'غير مذكور' }}</span>
            </div>
          </div>

          <hr>

          <h4 class="mb-3">📝تفاصيل العقد</h4>
          <div class="row mb-3">
            <div class="col-lg-4">
              <strong class="strong">تاريخ التسجيل:</strong> <span class="span"> {{ selectedInsurance?.registrationDate | date: 'yyyy-MM-dd' }}</span>
            </div>
            <div class="col-lg-4">
              <strong class="strong">تاريخ البدء:</strong> <span class="span"> {{ selectedInsurance?.contractStartDate | date: 'yyyy-MM-dd' }}</span>
            </div>
            <div class="col-lg-4">
              <strong class="strong">تاريخ الانتهاء:</strong> <span class="span"> {{ selectedInsurance?.contractEndDate | date: 'yyyy-MM-dd' }}</span>
            </div>
          </div>

          <hr>

          <h4 class="mb-3">💰فئات التغطية</h4>
          <div class="row mb-3" *ngFor="let category of selectedInsurance?.insuranceCategories">
            <div class="col-lg-4">
              <strong class="strong">{{ category.name }}:</strong> <span class="span">تغطي {{ category.rate }}% من تكلفة العلاج</span>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer row">
        <div class="col-3 m-0">
          <button (click)="editInsurance(selectedInsurance.id)" class="btn col-12 btn-outline-warning">تعديل البيانات</button>
        </div>
        <div class="col-3 m-0">
          <button class="btn col-12 btn-outline-info">عقود سابقة</button>
        </div>
        <div class="col-3 m-0">
          <button class="btn col-12 btn-outline-primary" (click)="print()">طباعة</button>
        </div>
        <div class="col-3 m-0">
          <button class="btn col-12 btn-outline-success" (click)="exportToPDF()">تحويل إلى PDF</button>
        </div>
      </div>

    </div>
  </div>
</div>
