<main id="providers">
    <div class="container-fluid">
        <app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
        <!-- <div class="p-3 mt-4">
            <form [formGroup]="filterForm" (ngSubmit)="applyFilters()" class="p-3 border rounded">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-6">
                        <input type="text" formControlName="SearchText" placeholder="ابحث بإستخدام اسم المورد أو رقم الهاتف" class="form-control text-end shadow-none">
                    </div>
                    <div class="col-md-4 d-flex justify-content-end align-items-center">
                        <button type="submit" class="btn-blue w-100 mx-2">
                            بحث <i class="fa fa-search me-1"></i> 
                        </button>
                        <button data-bs-toggle="modal" data-bs-target="#addProviderModal" type="button" class="btn-red w-100 mx-2">
                            جديد <i class="fa fa-plus me-1"></i> 
                        </button>
                    </div>
                </div>
            </form>
        </div> -->
        <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
            <div class="col-md-8 mb-2">
                <div class="d-flex align-items-center gap-2">
                    <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" data-bs-toggle="modal" data-bs-target="#addProviderModal">
                <i class="fas fa-plus-circle"></i>
                <span>إضافة مورد</span>
            </button>
                    <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                <i class="uil uil-filter"></i>
                <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
            </button>
                </div>
            </div>
            <div class="col-md-4 mb-2" *ngIf="total > 0">
                <app-pagination (pageChanged)="onPageChange($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="total"></app-pagination>
            </div>
            <div class="col-md-12 mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
                <div class="d-flex align-items-center">
                    <ng-container>
                        <app-filters [filterData]="providers" [searchPlaceholder]="'ابحث بإستخدام اسم المورد ...'" (filterChanged)="filterChecked($event)"></app-filters>
                    </ng-container>
                </div>
            </div>
        </div>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th>كود الحساب</th>
                    <th>إسم المورد</th>
                    <th>إسم المسئول</th>
                    <th>رقم الهاتف</th>
                    <th>الإجراءات</th>
                </tr>
            </thead>
            <tbody *ngIf="providers?.length > 0">
                <tr *ngFor="let provider of providers | paginate : { id: 'paginate', itemsPerPage: pagingFilterModel.pageSize, currentPage: pagingFilterModel.currentPage, totalItems: total }" (click)="openMainGroup(provider.id)" style="cursor: pointer">
                    <td class="text-secondary">{{ provider.accountCode }}</td>
                    <td>
                        <div class="d-flex align-items-center gap-2 justify-content-start">
                            <div class="avatar-circle">{{ provider.name.charAt(0) }}</div>
                            <span class="fw-bold">{{ provider.name }}</span>
                        </div>
                    </td>
                    <td>{{ provider.responsibleName1 }}</td>
                    <td>{{ provider.phone1 }}</td>
                    <td>
                        <button class="btn btn-primary mx-1" (click)="editProvider(provider.id)">
                            <i class="fa fa-edit"></i>
                          </button>                          
                        <button class="btn btn-danger mx-1" (click)="deleteProvider(provider.id)">
                            <i class="fa fa-trash"></i>
                          </button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="providers?.length === 0">
                <tr>
                    <td colspan="6" class="text-center text-muted">لا يوجد موردين حتى الآن</td>
                </tr>
            </tbody>
        </table>

        <div class="col-lg-12">
            <div *ngIf="total > 16" class="pagination-container my-0 px-3 d-flex justify-content-center align-items-center">
                <div class="my-pagination">
                    <pagination-controls id="paginate" (pageChange)="onPageChange($event)" (pageBoundsCorrection)="onPageChange($event)" [maxSize]="16" [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="" nextLabel="" screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</main>




<div class="modal fade" id="addProviderModal" tabindex="-1" aria-labelledby="addProviderModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="addProviderModalLabel">
                    {{ isEditMode ? 'تعديل مورد' : 'إضافة مورد' }}
                </h5>                  
            </div>
            <div class="modal-body" style="background-image: url('assets/vendors/imgs/pattern.png'); background-size: cover;">
                <form [formGroup]="providerForm" (ngSubmit)="addProvider()">
                    <div class="row p-3 mb-3">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">تكويد الحسابات</label>
                                <input type="text" formControlName="accountCode" class="form-control shadow-none text-end">
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="form-label">اسم المورد</label>
                                <input type="text" formControlName="name" class="form-control shadow-none text-end" placeholder="أدخل اسم المورد">
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label class="form-label">العنوان</label>
                                <input type="text" formControlName="address" class="form-control shadow-none text-end">
                            </div>
                        </div>

                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <label class="form-label">اسم المسئول</label>
                                <input type="text" formControlName="responsibleName1" class="form-control shadow-none text-end">
                            </div>
                        </div>

                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <label class="form-label">اسم المسئول 2</label>
                                <input type="text" formControlName="responsibleName2" class="form-control shadow-none text-end">
                            </div>
                        </div>

                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <label class="form-label">هاتف العميل</label>
                                <input type="text" formControlName="phone1" class="form-control shadow-none text-end">
                            </div>
                        </div>

                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <label class="form-label">هاتف العميل 2</label>
                                <input type="text" formControlName="phone2" class="form-control shadow-none text-end">
                            </div>
                        </div>

                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <label class="form-label">الرقم الضريبي</label>
                                <input type="text" formControlName="taxNumber" class="form-control shadow-none text-end">
                            </div>
                        </div>

                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <label class="form-label">السجل التجاري</label>
                                <input type="text" formControlName="job" class="form-control shadow-none text-end">
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <label class="form-label">الفاكس 1</label>
                                <input type="number" formControlName="fax1" class="form-control shadow-none text-end">
                            </div>
                        </div>

                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <label class="form-label">الفاكس 2</label>
                                <input type="number" formControlName="fax2" class="form-control shadow-none text-end">
                            </div>
                        </div>
                    </div>
                    <div class="row p-3 mb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">البريد الإلكتروني</label>
                                <input type="email" formControlName="email" class="form-control shadow-none text-end">
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label class="form-label">الموقع على الشبكة</label>
                                <input type="text" formControlName="website" class="form-control shadow-none text-end">
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label class="form-label">ملاحظات</label>
                                <textarea formControlName="notes" class="form-control shadow-none text-end"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn-blue px-4" [disabled]="providerForm.invalid">
                            {{ isEditMode ? 'حفظ التعديلات' : 'إضافة المورد' }}
                        </button>      
                        <button class="btn-red mx-2" data-bs-dismiss="modal" (click)="resetForm()">خروج</button>                    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>