<main id="doctors-list" @fadeIn>
    <section class="section1" id="cards">
        <div class="container-fluid">
            <app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
            <div class="row mb-3">
                <div class="col-lg-4" *ngFor="let doctor of doctorsData">
                    <div class="card text-white p-3 text-center" (click)="ApplyCardFilter(doctor)" [ngStyle]="{ 'background-image': doctor.color }">
                        <h4>{{ doctor.name }}</h4>
                        <p class="mt-0">{{ doctor.count }}</p>
                        <div class="percentage d-flex align-items-center justify-content-center gap-1">
                            <p class="m-0"> 12%</p>
                            <i class="fa-regular fa-circle-arrow-up"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-card border radius-10 overflow-hidden shadow-sm">
                <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
                    <div class="col-md-8 mb-2">
                        <div class="d-flex align-items-center gap-2">
                            <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" routerLink="/hms/settings/doctors">
                    <i class="fas fa-plus-circle"></i>
                    <span>إضافة طبيب</span>
                </button>
                            <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                    <i class="uil uil-filter"></i>
                    <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
                </button>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2" *ngIf="total > 0">
                        <app-pagination (pageChanged)="onPageChange($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="total"></app-pagination>
                    </div>
                    <div class="col-md-12 mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
                        <div class="d-flex align-items-center">
                            <ng-container>
                                <app-filters [showSelector]="false" [searchPlaceholder]="'أدخل إسم الطبيب أو رقم الهاتف ...'" [categoryName]="'Type'" (filterChanged)="filterChecked($event)"></app-filters>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="p-3 bg-white">
                    <div class="table-responsive shadow-sm radius-10">
                        <table class="table table-card-table table-borderless table-hover bg-transparent m-0">
                            <thead>
                                <tr>
                                    <th>الرقم</th>
                                    <th>الإسم</th>
                                    <th>التخصص</th>
                                    <th>رقم الهاتف</th>
                                    <th>الحالة</th>
                                    <!-- <th>التكلفة</th> -->
                                    <th>الإجراءات</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container>
                                    <tr *ngFor="let doctor of doctors" (click)="openDoctorModal(doctor.id)" style="cursor: pointer">
                                        <td>{{ doctor.id }}</td>
                                        <td>
                                            <div class="d-flex align-items-center gap-2 justify-content-start">
                                                <div class="avatar-circle">{{ doctor?.fullName?.charAt(0) }}</div>
                                                <span class="fw-bold">{{ doctor.fullName }}</span>
                                            </div>
                                        </td>
                                        <td>{{ doctor?.department }}</td>
                                        <td>{{ doctor.phone }}</td>
                                        <td [ngClass]="{
                                'text-success': doctor.status === 'متاح',
                                'text-secondary': doctor.status == 'غير متاح'
                              }">
                                            {{ doctor.status }}
                                        </td>
                                        <!-- <td>{{ doctor.price ?? '---' }}</td> -->
                                        <td>
                                            <button class="btn btn-outline-warning" (click)="goToEditDoctor(doctor.id,$event)">
                            <i class="fa-light fa-pen-to-square"></i>
                          </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
                        <div class="col-md-8 mb-2"></div>
                        <div class="col-md-4 mb-2" *ngIf="total > 0">
                            <app-pagination (pageChanged)="onPageChange($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="total"></app-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



<div class="modal fade" id="doctorDetailsModal" tabindex="-1" aria-labelledby="doctorDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <img src="assets/vendors/imgs/pattern.png" alt="" class="img-fluid">

            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="doctorDetailsLabel">تفاصيل الطبيب</h5>
            </div>

            <div class="modal-body p-4" #printSection>
                <h4>👤 البيانات الشخصية</h4>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <strong class="strong">الإسم الكامل:</strong> <span class="span"> {{ selectedDoctor?.fullName || '---' }}</span>
                    </div>
                    <div class="col-lg-4">
                        <strong class="strong">الرقم القومي:</strong> <span class="span"> {{ selectedDoctor?.nationalId || '---' }}</span>
                    </div>
                    <div class="col-lg-4">
                        <strong class="strong">النوع:</strong> <span class="span"> {{ selectedDoctor?.gender || '---' }}</span>
                    </div>
                    <div class="col-lg-4">
                        <strong class="strong">الحالة الاجتماعية:</strong> <span class="span"> {{ selectedDoctor?.maritalStatus || '---' }}</span>
                    </div>
                    <div class="col-lg-4">
                        <strong class="strong">تاريخ الميلاد:</strong> <span class="span"> {{ selectedDoctor?.dateOfBirth | date:'dd-MM-yyyy' }}</span>
                    </div>
                    <div class="col-lg-4">
                        <strong class="strong">الدرجة العلمية:</strong> <span class="span"> {{ selectedDoctor?.degree || '---' }}</span>
                    </div>
                </div>

                <hr>

                <h4>💼 معلومات الوظيفة</h4>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <strong class="strong">التخصص الطبي:</strong>
                        <!-- <span class="span"> {{ selectedDoctor?.doctorMedicalServices ? getGeneralServiceName(selectedDoctor?.doctorMedicalServices) : '---' }}</span> -->
                         <span class="span"> {{ selectedDoctor?.department || '---' }}</span>
                    </div>
                    <div class="col-lg-4">
                        <strong class="strong">تاريخ التعيين:</strong> <span class="span">  {{ selectedDoctor?.startDate | date:'dd-MM-yyyy' }}</span>
                    </div>
                    <div class="col-lg-4">
                        <strong class="strong">الحالة:</strong> <span class="span">  {{ selectedDoctor?.status || '---' }}</span>
                    </div>
                    <div class="col-lg-4">
                        <strong class="strong">التكلفة:</strong> <span class="span">  {{ selectedDoctor?.price || '---' }}</span>
                    </div>
                </div>

                <hr>

                <h4>📞 معلومات الاتصال</h4>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <strong class="strong">رقم الهاتف:</strong> <span class="span"> {{ selectedDoctor?.phone || '---' }}</span>
                    </div>
                    <div class="col-lg-4">
                        <strong class="strong">البريد الإلكتروني:</strong> <span class="span"> {{ selectedDoctor?.email || '---' }}</span>
                    </div>
                    <div class="col-lg-4">
                        <strong class="strong">العنوان:</strong> <span class="span"> {{ selectedDoctor?.address || '---' }}</span>
                    </div>
                </div>

                <hr>

                <h4>🕒 مواعيد العمل</h4>
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>اليوم</th>  
                                    <th>وقت البدء</th>
                                    <th>وقت الانتهاء</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let schedule of selectedDoctor?.doctorSchedules">
                                    <td>{{ schedule.weekDay || '---' }}</td>
                                    <td>{{ schedule.startTime | time12  }}</td>
                                    <td>{{ schedule.endTime | time12  }}</td>
                                </tr>
                                <tr *ngIf="!selectedDoctor?.doctorSchedules?.length">
                                    <td colspan="3" class="text-center">لا توجد مواعيد عمل</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr>

                <h4>📝 ملاحظات</h4>
                <p class="text-muted">{{ selectedDoctor?.notes || 'لا يوجد ملاحظات' }}</p>
            </div>

            <div class="modal-footer row">
                <!-- <div class="col-3 m-0">
                    <button class="btn col-12 btn-outline-warning" (click)="editDoctor(selectedDoctor.id)">تعديل البيانات</button>
                </div> -->
                <!-- <div class="col-3 m-0">
                    <button class="btn col-12 btn-outline-info" (click)="print()">طباعة</button>
                </div> -->
                <div class="col-6 m-0">
                    <button class="btn col-12 btn-outline-primary" (click)="exportToPDF()">تحويل إلى PDF</button>
                </div>
                <div class="col-6 m-0">
                    <button class="btn col-12 btn-outline-warning" (click)="susbendDoctor()">تعليق مؤقت</button>
                </div>
            </div>
        </div>
    </div>
</div>