<main id="supply">
    <div class="container-fluid">
        <app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
        <!-- <div class="p-3 mt-4">
            <form [formGroup]="filterForm" (ngSubmit)="applyFilters()" class="p-3 border rounded">
                <div class="row justify-content-between align-items-center">
                    <div class="row col-md-8">
                        <div class="col-md-6">
                            <select formControlName="type" name="" id="" class="form-select text-end shadow-none">
                                <option selected disabled value="">اختر الخزينة </option>
                                <option value="">خزينة رئيسي</option>
                                <option value="">خزينة فرعية</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" formControlName="SearchText" placeholder="ابحث بإستخدام رقم المستند" class="form-control text-end shadow-none" />
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end align-items-center">
                        <button type="submit" class="btn-blue w-100 mx-2">
                            بحث <i class="fa fa-search me-1"></i> 
                        </button>
                        <button data-bs-toggle="modal" data-bs-target="#addSupplyReceiptModal" type="button" class="btn-red w-100 mx-2">
                            جديد <i class="fa fa-plus me-1"></i> 
                        </button>
                    </div>
                </div>
            </form>
        </div> -->
        <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
            <div class="col-md-8 mb-2">
                <div class="d-flex align-items-center gap-2">
                    <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" data-bs-toggle="modal" data-bs-target="#addSupplyReceiptModal">
                <i class="fas fa-plus-circle"></i>
                <span>إضافة إيصال توريد</span>
            </button>
                    <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                <i class="uil uil-filter"></i>
                <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
            </button>
                </div>
            </div>
            <div class="col-md-4 mb-2" *ngIf="total > 0">
                <app-pagination (pageChanged)="onPageChange($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="total"></app-pagination>
            </div>
            <div class="col-md-12 mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
                <div class="d-flex align-items-center flex-wrap gap-2">
              
                  <app-filters
                    [filterData]="adds"
                    [filterPlaceholder]="'إيصالات توريد'"
                    [searchPlaceholder]="'ابحث بإستخدام رقم المستند ...'"
                    [categoryName]="'Type'"
                    (filterChanged)="filterChecked($event)"
                  ></app-filters>
              
                </div>
              </div>
              
        </div>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th>رقم المستند</th>
                    <th>التاريخ</th>
                    <th>الخزينة</th>
                    <th>المبلغ</th>
                    <th>مركز التكلفة</th>
                    <th>الإجراءات</th>
                </tr>
            </thead>
            <tbody *ngIf="adds?.length > 0">
                <tr *ngFor="let add of adds | paginate : { id: 'paginate', itemsPerPage: pagingFilterModel.pageSize, currentPage: pagingFilterModel.currentPage, totalItems: total }" (click)="openMainGroup(add.id)" style="cursor: pointer">
                    <td class="fw-bold">{{ add.id }}</td>
                    <td>{{ add.date | date:'yyyy-MM-dd' }}</td>
                    <td>{{ add.treasuryName }}</td>
                    <td>{{ add.amount + ' جنيه' }}</td>
                    <td>{{ add.costCenterName }}</td>

                    <td>
                        <button type="button" class="btn btn-primary mx-2" (click)="printSupplyReceipt(add.id)">
                            <i class="fa fa-print"></i>
                        </button>
                        <button type="button" class="btn btn-warning mx-2" (click)="editSupplyReceipt(add.id)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger mx-2" (click)="deleteSupplyReceipt(add.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="adds?.length === 0">
                <tr>
                    <td colspan="5" class="text-center text-muted">لا يوجد إيصالات توريد حتى الآن</td>
                </tr>
            </tbody>
        </table>

        <div class="col-lg-12">
            <div *ngIf="total > 16" class="pagination-container my-0 px-3 d-flex justify-content-center align-items-center">
                <div class="my-pagination">
                    <pagination-controls id="paginate" (pageChange)="onPageChange($event)" (pageBoundsCorrection)="onPageChange($event)" [maxSize]="16" [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="" nextLabel="" screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</main>




<div class="modal fade" id="addSupplyReceiptModal" tabindex="-1" aria-labelledby="addSupplyReceiptModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="addSupplyReceiptModalLabel">{{isEditMode ? 'تعديل إيصال توريد' : 'إيصال توريد جديد'}}</h5>
            </div>
            <div class="modal-body" style="background-image: url('assets/vendors/imgs/pattern.png'); background-size: cover;">
                <form [formGroup]="addPermissionForm" (ngSubmit)="addSupplyReceipt()">
                    <div class="p-3 mb-3">
                        <div class="row gy-3">

                            <div class="col-md-4">
                                <label class="form-label">التاريخ</label>
                                <input type="date" class="form-control shadow-none text-end" formControlName="date" />
                                <div class="text-danger" *ngIf="addPermissionForm.get('date')?.errors?.['notToday'] && addPermissionForm.get('date')?.touched">
                                    لا يمكن اختيار تاريخ سابق
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">الخزينة</label>
                                <ng-select
                                  [items]="treasuries"
                                  bindLabel="name"
                                  bindValue="id"
                                  placeholder="اختر الخزينة"
                                  formControlName="treasuryId"
                                  class="text-end shadow-none w-100"
                                  [searchable]="true"
                                >
                                </ng-select> 
                            </div>


                            <div class="col-md-4">
                                <label class="form-label">استلمت من السيد</label>
                                <input type="text" class="form-control shadow-none text-end" formControlName="receivedFrom" />
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">اسم الحساب</label>
                                <ng-select
                                  [items]="accounts"
                                  bindLabel="nameAR"
                                  bindValue="accountId"
                                  placeholder="اختر الحساب"
                                  formControlName="accountId"
                                  class="text-end shadow-none w-100"
                                  [searchable]="true"
                                >
                                </ng-select>
                              </div>

                            <div class="col-md-4">
                                <label class="form-label">مركز التكلفة</label>
                                <ng-select
                              [items]="costCenters"
                              bindLabel="nameAR"
                              bindValue="costCenterId"
                              placeholder="اختر المركز"
                              formControlName="costCenterId"
                              class="text-end shadow-none w-100"
                              [searchable]="true"
                            >
                            </ng-select>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">المبلغ</label>
                                <input type="number" class="form-control shadow-none text-end" formControlName="amount" />
                            </div>

                            <div class="col-md-12">
                                <label class="form-label">شرح العملية/القيد</label>
                                <textarea rows="3" class="form-control shadow-none text-end" formControlName="description"></textarea>
                            </div>

                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn-blue px-5" [disabled]="addPermissionForm.invalid">{{isEditMode ? 'تعديل' : 'إضافة'}} إيصال</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div #printSection dir="rtl" class="container p-4">

    <div class="p-2 mb-5" style="border: 1px solid #5A607F; border-radius: 10px;">
      <div class="d-flex justify-content-around align-items-center mb-2">
        <img src="assets/vendors/imgs/logo.png" alt="logo" style="height: 100px;" />
        <div>
          <span>إيصال توريد رقم</span>
          <span>{{ receiptNumber }}</span>
        </div>
      </div>
    
      <div class="mb-2">
          <strong>تحريرًا في:</strong> {{ addPermissionForm.value.date }}
      </div>
  
      <div class="row mb-2">
          <div class="col-md-6">
              <strong>استلمت من السيد:</strong> {{ addPermissionForm.value.receivedFrom }}
          </div>
          <div class="col-md-6">
              <strong>المبلغ:</strong> {{ addPermissionForm.value.amount + ' ' + 'جنيه مصري' }}
          </div>
      </div>
      
      <div class="row mb-2">
            <div class="col-md-6">
              <strong>كود الحساب:</strong> {{ addPermissionForm.value.accountId }}
            </div>
            <div class="col-md-6">
                <strong>اسم الحساب:</strong> {{getAccountName(addPermissionForm.value.accountId)}}
            </div>
      </div>
      
      <div class="mb-2">
            <strong>المبلغ وقدره:</strong> {{ amountInWords }}
      </div>
    
      <div class="mb-3">
        <strong>شرح العملية:</strong> {{ addPermissionForm.value.description }}
      </div>
    
      <table class="table table-bordered mt-4">
        <thead>
          <tr>
            <th>الخزينة</th>
            <th>مراجعة</th>
            <th>اعتماد</th>
            <th>المستلم</th>
            <th>التوقيع</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>----------------</td>
            <td>----------------</td>
            <td>----------------</td>
            <td>----------------</td>
            <td>----------------</td>
          </tr>
        </tbody>
      </table>
    </div>

    
    <div class="p-2 mt-5" style="border: 1px solid #5A607F; border-radius: 10px;">
        <div class="d-flex justify-content-around align-items-center mb-2">
            <img src="assets/vendors/imgs/logo.png" alt="logo" style="height: 100px;" />
            <div>
              <span>قيد يومية رقم</span>
              <span>{{ receiptNumber }}</span>
            </div>
          </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <strong>التاريخ:</strong> {{ restrictionData?.restrictionDate }}
        </div>
        <div class="col-md-6">
            <!-- <strong>رقم المستند:</strong> {{ receiptNumber }}ظ -->
            <strong>التوجيه المحاسبي:</strong> {{ restrictionData?.accountingGuidanceName }}
        </div>
    </div>

    <div class="mb-2">
    </div>
  
    <hr />
  
    <div class="mb-2">
      {{ restrictionData?.amount }} &nbsp; &nbsp; من حـ/ <strong>{{ restrictionData?.from }}</strong>
    </div>
    <hr />
    <div class="mb-2">
      {{ restrictionData?.amount }} &nbsp; &nbsp; إلى حـ/ <strong>{{ restrictionData?.to }}</strong>
    </div>
    <hr />
    <div class="row mt-3">
        <div class="col-md-6">
            <small class="fw-bold">الإسم:</small> {{userName}}
        </div>
        <div class="col-md-6">
            <small class="fw-bold">التاريخ:</small> {{ today }}
        </div>
    </div>
    </div>

</div>



<div id="printableSupplyReceipt" dir="rtl" class="container p-4">

    <div class="p-2 mb-5" style="border: 1px solid #5A607F; border-radius: 10px;">
      <div class="d-flex justify-content-around align-items-center mb-2">
        <img src="assets/vendors/imgs/logo.png" alt="logo" style="height: 100px;" />
        <div>
          <span>إيصال توريد رقم</span>
          <span>{{ printedRecipt?.dailyRestriction?.restrictionNumber }}</span>
        </div>
      </div>
    
      <div class="mb-2">
          <strong>تحريرًا في:</strong> {{ printedRecipt?.date }}
      </div>
  
      <div class="row mb-2">
          <div class="col-md-6">
              <strong>استلمت من السيد:</strong> {{ printedRecipt?.receivedFrom }}
          </div>
          <div class="col-md-6">
              <strong>المبلغ:</strong> {{ printedRecipt?.amount + ' ' + 'جنيه مصري' }}
          </div>
      </div>
      
      <div class="row mb-2">
            <div class="col-md-6">
              <strong>كود الحساب:</strong> {{ printedRecipt?.accountId }}
            </div>
            <div class="col-md-6">
                <strong>اسم الحساب:</strong> {{getAccountName(printedRecipt?.accountId)}}
            </div>
      </div>
      
      <div class="mb-2">
            <strong>المبلغ وقدره:</strong> {{ amountInWords }}
      </div>
    
      <div class="mb-3">
        <strong>شرح العملية:</strong> {{ printedRecipt?.description }}
      </div>
    
      <table class="table table-bordered mt-4">
        <thead>
          <tr>
            <th>الخزينة</th>
            <th>مراجعة</th>
            <th>اعتماد</th>
            <th>المستلم</th>
            <th>التوقيع</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>----------------</td>
            <td>----------------</td>
            <td>----------------</td>
            <td>----------------</td>
            <td>----------------</td>
          </tr>
        </tbody>
      </table>
    </div>

    
    <div class="p-2 mt-5" style="border: 1px solid #5A607F; border-radius: 10px;">
        <div class="d-flex justify-content-around align-items-center mb-2">
            <img src="assets/vendors/imgs/logo.png" alt="logo" style="height: 100px;" />
            <div>
              <span>قيد يومية رقم</span>
              <span>{{ printedRecipt?.dailyRestriction?.restrictionNumber }}</span>
            </div>
          </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <strong>التاريخ:</strong> {{ printedRecipt?.dailyRestriction?.restrictionDate }}
        </div>
        <div class="col-md-6">
            <!-- <strong>رقم المستند:</strong> {{ printedRecipt?.dailyRestriction?.restrictionNumber }} -->
            <strong>التوجيه المحاسبي:</strong> {{ printedRecipt?.dailyRestriction?.accountingGuidanceName }}
        </div>
    </div>
  
    <hr />
  
    <div class="mb-2">
      {{ printedRecipt?.dailyRestriction?.amount }} &nbsp; &nbsp; من حـ/ <strong>{{ printedRecipt?.dailyRestriction?.from }}</strong>
    </div>
    <hr />
    <div class="mb-2">
      {{ printedRecipt?.dailyRestriction?.amount }} &nbsp; &nbsp; إلى حـ/ <strong>{{ printedRecipt?.dailyRestriction?.to }}</strong>
    </div>
    <hr />
    <div class="row mt-3">
        <div class="col-md-6">
            <small class="fw-bold">الإسم:</small> {{userName}}
        </div>
        <div class="col-md-6">
            <small class="fw-bold">التاريخ:</small> {{ today }}
        </div>
    </div>
    </div>

</div>