<main id="list-purchase-order">
    <div class="container-fluid">
      <app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
      <p-toast position="top-left"></p-toast>
        <div class="row">
            <div class="col-md-6">
                <button class="btn-blue " data-bs-toggle="modal" data-bs-target="#addPurchaseorderModal">إضافة أمر توريد </button>
            </div>
            <div class="col-md-6 " *ngIf="total > 0 && purchaseOrders.length > 16">
                <app-pagination (pageChanged)="onPageChange($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="total"></app-pagination>
            </div>

            <div class="col-12 mt-3">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>رقم الأمر</th>
                            <th>تاريخ الأمر</th>
                            <th>اسم المورد</th>
                            <!-- <th>الحالة</th> -->
                            <th>رقم طلب الشراء</th>
                            <th>الإجراءات</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let order of purchaseOrders;">
                            <td>{{ order.orderNumber }}</td>
                            <td>{{ order.orderDate | date: 'yyyy-MM-dd' }}</td>
                            <td>{{ order.supplierName }}</td>
                            <!-- <td>{{ order.status || '-' }}</td> -->
                            <td>{{ order.purchaseRequestNumber || '-' }}</td>
                            <td>
                              <button class="btn btn-primary mx-1" (click)="generatePurchaseOrderPDFById(order.id)">
                                <i class="fa fa-print"></i>
                              </button>                              
                              <button class="btn btn-warning mx-1" (click)="editPurchaseorder(order.id)">
                                  <i class="fa fa-edit"></i>
                                </button>                          
                              <button class="btn btn-danger mx-1" (click)="deletePurchaseorder(order.id)">
                                  <i class="fa fa-trash"></i>
                                </button>
                            </td>
                          </tr>
                        </tbody>
                        <tbody *ngIf="purchaseOrders?.length === 0">
                          <tr>
                            <td colspan="5" class="text-center">
                              <p class="text-muted">لا يوجد أذون توريد</p>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>





<div class="modal fade" id="addPurchaseorderModal" tabindex="-1" aria-labelledby="addPurchaseorderModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header justify-content-center">
              <h5 class="modal-title" id="addPurchaseorderModalLabel">
                  {{ isEditMode ? 'تعديل أمر توريد ' : 'إضافة أمر توريد ' }}
              </h5>                  
          </div>
          <div class="modal-body" style="background-image: url('assets/vendors/imgs/pattern.png'); background-size: cover;">
              <form [formGroup]="purchaseOrderForm" (ngSubmit)="addPurchaseorder()">
                  <div class="row p-3 mb-3">

                    <div class="form-group mb-3">
                      <label class="form-label">رقم طلب الشراء</label>
                      <ng-select
                        [items]="purchaseRequests"
                        bindLabel="requestNumber"
                        bindValue="id"
                        placeholder="اختر طلب الشراء"
                        formControlName="purchaseRequestId"
                        class="text-end shadow-none w-100"
                        [searchable]="true"
                      >
                      </ng-select>
                    </div>

                      <div class="col-md-12">
                          <div class="form-group">
                              <label class="form-label">اسم المورد</label>
                              <select class="form-select shadow-none" formControlName="supplierId">
                                <option disabled selected value="">اختر المورد</option>
                                <option *ngFor="let i of allSuppliers" [value]="i.id">{{ i.name }}</option>
                              </select>
                          </div>
                      </div>

                      <div class="col-md-12 mt-3">
                          <div class="form-group">
                              <label class="form-label">ملاحظات</label>
                              <textarea formControlName="description" class="form-control shadow-none text-end"></textarea>
                          </div>
                      </div>
                  </div>
                  <div class="row p-3 mb-3">
                    <div formArrayName="items">
                      <div class="row mb-3" *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                        <div class="col-md-3">
                          <label class="form-label">الصنف</label>
                          <select class="form-select shadow-none" formControlName="itemId">
                            <option disabled selected value="">اختر الصنف</option>
                            <option *ngFor="let i of allItems" [value]="i.id">{{ i.nameAr }}</option>
                          </select>
                        </div>
                        
                        <div class="col-md-3">
                          <label class="form-label">الكمية</label>
                          <input type="number" class="form-control shadow-none" formControlName="requestedQuantity" readonly>
                        </div>

                        <div class="col-md-2">
                          <label class="form-label">السعر</label>
                          <input type="number" class="form-control shadow-none" formControlName="unitPrice" readonly>
                        </div>

                        <div class="col-md-3">
                          <label class="form-label">السعر الإجمالي</label>
                          <input type="number" class="form-control shadow-none" formControlName="totalPrice" readonly>
                        </div>
                    
                        <div class="col-md-1 d-flex align-items-end">
                          <button type="button" class="btn btn-danger" (click)="removeItemRow(i)" *ngIf="items.length > 1">
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    
                      <div class="text-start mb-3">
                        <button type="button" class="btn btn-success" (click)="addItemRow()">
                          <i class="fa fa-plus"></i> إضافة صنف
                        </button>
                      </div>
                    </div>
                    
                  </div>

                  <div class="text-center">
                      <button type="submit" class="btn-blue px-4" [disabled]="purchaseOrderForm.invalid">
                          {{ isEditMode ? 'حفظ التعديلات' : 'إضافة أمر توريد ' }}
                        </button> 
                        <button class="btn-red mx-2" data-bs-dismiss="modal" (click)="resetForm()" >خروج</button>                         
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>



<div id="printablePurchaseOrder" dir="rtl" class="border rounded p-4">

  <div class="d-flex justify-content-around align-items-center mb-4">
    <img src="assets/vendors/imgs/logo.png" alt="logo" style="height: 100px;" />
    <div class="text-center">
      <h5 class="fw-bold mb-1"> أمر توريد <span class="text-primary">{{ purNumber }}</span></h5>
    </div>
  </div>

  <div class="mb-4">
    <div class="row mb-2">
      <div class="mt-1 col-md-6">
        <strong>التاريخ: </strong> {{ purchaseOrderForm.value.orderDate | date: 'yyyy-MM-dd' }}
      </div>
      <div class="mt-1 col-md-6">
        <strong>اسم المورد:</strong> {{ selectedSupplier?.name }}
      </div>
      <div class="mt-1 col-md-12">
        <strong>طلب الشراء:</strong> {{ purchaseRequestNumber }}
      </div>
      <div class="mt-1 col-md-12">
        <strong>ملاحظات:</strong> {{ purchaseOrderForm.value.description || '---' }}
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>م</th>
          <th>اسم الصنف</th>
          <th>الكمية</th>
          <th>السعر</th>
          <th>الإجمالي</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of structuredTable; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ row.nameAr }}</td>
          <td>{{ row.quantity }}</td>
          <td>{{ row.unitPrice }} ج.م</td>
          <td>{{ row.totalPrice }} ج.م</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="fw-bold table-light">
          <td colspan="4" class="text-center">الإجمالي الكلي</td>
          <td>{{ getTotalOrderPrice() | number:'1.2-2' }} ج.م</td>
        </tr>
      </tfoot>
    </table>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th>المدير التنفيذي</th>
        <th>رئيس مجلس الإدارة</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>----------------</td>
        <td>----------------</td>
      </tr>
    </tbody>
  </table>

  <div class="row mt-4">
    <div class="col-md-6">
      <strong>إسم المستخدم:</strong> {{ userName }}
    </div>
    <div class="col-md-6 text-end">
      <strong>التاريخ:</strong> {{ today }}
    </div>
  </div>
</div>



<div id="rePrintablePurchaseOrder" dir="rtl" class="border rounded p-4">

  <div class="d-flex justify-content-around align-items-center mb-4">
    <img src="assets/vendors/imgs/logo.png" alt="logo" style="height: 100px;" />
    <div class="text-center">
      <h5 class="fw-bold mb-1"> أمر توريد   <span class="text-primary"> {{ purNumber }}</span></h5>
    </div>
  </div>

  <div class="mb-4">
    <div class="row mb-2">
      <div class="mt-1 col-md-6">
        <strong>التاريخ: </strong> {{ purchaseOrderForm.value.orderDate | date: 'yyyy-MM-dd' }}
      </div>
      <div class="mt-1 col-md-6">
        <strong>اسم المورد:</strong> {{ supplierNameForPrint }}
      </div>
      <div class="mt-1 col-md-12">
        <strong>طلب الشراء:</strong> {{ quotationRequestNumberForPrint }}
      </div>
      <div class="mt-1 col-md-12">
        <strong>ملاحظات:</strong> {{ purchaseOrderForm.value.description || '---' }}
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>م</th>
          <th>اسم الصنف</th>
          <th>الكمية</th>
          <th>السعر</th>
          <th>الإجمالي</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of structuredTable; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ row.nameAr }}</td>
          <td>{{ row.quantity }}</td>
          <td>{{ row.unitPrice + ' ج.م' }}</td>
          <td>{{ row.totalPrice + ' ج.م' }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="fw-bold table-light">
          <td colspan="4" class="text-center">الإجمالي الكلي</td>
          <td>{{ getTotalOrderPrice() | number:'1.2-2' }} ج.م</td>
        </tr>
      </tfoot>
    </table>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th>المدير التنفيذي</th>
        <th>رئيس مجلس الإدارة</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>----------------</td>
        <td>----------------</td>
      </tr>
    </tbody>
  </table>
  <div class="row mt-4">
    <div class="col-md-6">
      <strong>إسم المستخدم:</strong> {{ userName }}
    </div>
    <div class="col-md-6 text-end">
      <strong>التاريخ:</strong> {{ today }}
    </div>
  </div>
</div>