<main id="staff-list" @fadeIn>
  <section class="section1" id="cards">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3" *ngFor="let employee of employeesData">
          <div class="card text-white p-3 text-center" [ngStyle]="{ 'background-image': employee.color }">
            <h4>{{ employee.name }}</h4>
            <p class="mt-0">{{ employee.count }} فرد</p>
            <div class="percentage d-flex align-items-center justify-content-center gap-1">
              <p class="m-0"> 12%</p>
              <i class="fa-regular fa-circle-arrow-up"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section2" id="table-employees">
    <div class="card mt-3 p-2">
      <div class="p-3 mt-4">
        <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
          <div class="row justify-content-between align-items-center gap-2">
            <div class="row col-lg-8">
              <div class="col-lg-2">
                <button type="button" (click)="resetFilters()" class="btn-cancel">إزالة الفلترة</button>
              </div>
              <div class="col-lg-4">
                <input
                  type="text"
                  class="form-control shadow-none"
                  placeholder="أدخل إسم الموظف أو رقم الهاتف"
                  formControlName="Search"
                />
              </div>
              <div class="col-lg-3">
                <select class="form-select shadow-none" formControlName="Type">
                  <option selected disabled value="">اختر نوع الموظف</option>
                  <option value="Doctor">دكتور</option>
                  <option value="Nurse">ممرض</option>
                  <option value="Staff">إداري</option>
                  <option value="Worker">عمال</option>
                </select>
              </div>
            </div>
            <div class="col-lg-2">
              <button type="button" class="btn-purble">إضافة موظف</button>
            </div>
          </div>
        </form>
      </div>
      <table class="table table-hover mt-4">
        <thead>
          <tr>
            <th>الإسم</th>
            <th>الوظيفة</th>
            <th>تاريخ التعيين</th>
            <th>الحالة</th>
          </tr>
        </thead>
        <tbody *ngIf="employees && employees.length > 0; else noData">
          <tr
            *ngFor="let employee of employees | paginate : { id: 'paginate', itemsPerPage: pageSize, currentPage: currentPage, totalItems: total }"
            (click)="openStaffModal(employee.id)"
            data-bs-toggle="modal"
            data-bs-target="#employeeDetailsModal"
            style="cursor: pointer"
          >
            <td>
              <div class="d-flex align-items-center gap-2 justify-content-start">
                <div class="avatar-circle">{{ employee.fullName.charAt(0) }}</div>
                <span class="fw-bold">{{ employee.fullName }}</span>
              </div>
            </td>
            <td>
              <p
                class="text-white status-pill fw-bold"
                *ngIf="employee.type"
                [ngStyle]="{ backgroundColor: getEmployeeColor(employee.type) }"
              >
                {{ employee.type || 'غير محدد' }}
              </p>
            </td>
            <td class="text-secondary fw-semibold">
              {{ employee.hireDate | date: 'yyyy/MM/dd' }}
            </td>
            <td>
              <span
                class="status-pill"
                [ngClass]="{
                  'bg-success': employee.status === 'متاح',
                  'bg-secondary': employee.status !== 'متاح'
                }"
              >
                {{ employee.status }}
              </span>
            </td>
          </tr>
        </tbody>
        <ng-template #noData>
          <tbody>
            <tr>
              <td colspan="4" class="text-center text-muted">لا توجد موظفين حتى الآن</td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    
      <div class="col-lg-12" *ngIf="total > pageSize">
        <div class="pagination-container my-0 px-3 d-flex justify-content-center align-items-center">
          <div class="my-pagination">
            <pagination-controls
              id="paginate"
              (pageChange)="onPageChange($event)"
              (pageBoundsCorrection)="onPageChange($event)"
              [maxSize]="16"
              [directionLinks]="true"
              [autoHide]="true"
              [responsive]="true"
              previousLabel=""
              nextLabel=""
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="You're on page"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>



<div class="modal fade" id="employeeDetailsModal" tabindex="-1" aria-labelledby="employeeDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <img src="assets/vendors/imgs/pattern.png" alt="" class="img-fluid">
        
        <div class="modal-header justify-content-center">
          <h5 class="modal-title" id="employeeDetailsLabel">تفاصيل الموظف</h5>
        </div>
  
        <div class="modal-body p-4">
          <h4>👤 البيانات الشخصية</h4>
          <div class="row mb-3">
            <div class="col-lg-4">
              <strong>الإسم الكامل:</strong> <span>{{ selectedEmployee?.fullName || '---' }}</span>
            </div>
            <div class="col-lg-4">
              <strong>الرقم القومي:</strong> <span>{{ selectedEmployee?.nationalId || '---' }}</span>
            </div>
            
            <div class="col-lg-4">
              <strong>النوع:</strong> <span>{{ selectedEmployee?.gender || '---' }}</span>
            </div>
            <div class="col-lg-4">
              <strong>الحالة الاجتماعية:</strong> <span>{{ selectedEmployee?.maritalStatus || '---' }}</span>
            </div>
            <div class="col-lg-4">
                <strong>تاريخ الميلاد:</strong> <span>{{ selectedEmployee?.dateOfBirth || '---' }}</span>
            </div>
            
          </div>
  
          <hr>
  
          <h4>💼 معلومات الوظيفة</h4>
          <div class="row mb-3">
            <div class="col-lg-4">
              <strong>المسمى الوظيفي:</strong> <span>{{ selectedEmployee?.specialization || '---' }}</span>
            </div>
            <div class="col-lg-4">
              <strong>القسم:</strong> <span>{{ selectedEmployee?.departmentName || '---' }}</span>
            </div>
            <div class="col-lg-4">
              <strong>الفرع:</strong> <span>{{ selectedEmployee?.branchName || '---' }}</span>
            </div>
            <div class="col-lg-4">
              <strong>تاريخ التعيين:</strong> <span>{{ selectedEmployee?.hireDate || '---' }}</span>
            </div>
            <div class="col-lg-4">
              <strong>الحالة:</strong> <span> {{ selectedEmployee?.status || '---' }} </span>
            </div>
          </div>
  
          <hr>
  
          <h4>📞 معلومات الاتصال</h4>
          <div class="row mb-3">
            <div class="col-lg-4">
              <strong>رقم الهاتف:</strong> <span>{{ selectedEmployee?.phoneNumber || '---' }}</span>
            </div>
            <div class="col-lg-4">
              <strong>البريد الإلكتروني:</strong> <span>{{ selectedEmployee?.email || '---' }}</span>
            </div>
            <div class="col-lg-4">
              <strong>العنوان:</strong> <span>{{ selectedEmployee?.address || '---' }}</span>
            </div>
          </div>
          <hr>
          <h4>💰بيانات المرتب</h4>
          <div class="row mb-3">
            <div class="col-lg-3">
              <strong>المرتب الأساسي:</strong> <span>{{ selectedEmployee?.salary || '---' }}</span>
            </div>
            <div class="col-lg-3">
              <strong>البدلات:</strong> <span>{{ selectedEmployee?.allowances || '---' }}</span>
            </div>
            <div class="col-lg-3">
              <strong>الخصومات:</strong> <span>{{ selectedEmployee?.deductions || '---' }}</span>
            </div>
            <div class="col-lg-3">
              <strong>الإجمالي:</strong> <span>{{ selectedEmployee?.total || '---' }}</span>
            </div>
          </div>
  
          <hr>
  
          <h4>📝 ملاحظات</h4>
          <p class="text-muted">{{ selectedEmployee?.notes || 'لا يوجد ملاحظات' }}</p>
        </div>
  
        <div class="modal-footer row">
          <div class="col-3 m-0">
            <button class="btn col-12 btn-outline-warning" (click)="editEmployee()">تعديل البيانات</button>
          </div>
          <div class="col-3 m-0">
            <button class="btn col-12 btn-outline-info" (click)="print()">طباعة</button>
          </div>
          <div class="col-3 m-0">
            <button class="btn col-12 btn-outline-primary" (click)="exportToPDF()">تحويل إلى PDF</button>
          </div>
          <div class="col-3 m-0">
            <button class="btn col-12 btn-outline-primary" (click)="suspendEmployee()">تعليق مؤقت</button>
          </div>
        </div>
      </div>
    </div>
</div>