<main id="treasury-index">
    <div class="container-fluid">
        <h2 class="text-center fw-bold">حركة الخزينة</h2>
        <div class="row" >
            <div class="col-lg-4 mt-3">
                <a routerLink="supply-receipt" class="card text-decoration-none">
                    <div class="card-body">
                        <i class="fa-solid fa-receipt"></i>
                        <h5 class="card-title">إيصال التوريد</h5>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <i class="fa-solid fa-money-bill-transfer"></i>
                        <h5 class="card-title">إذن صرف خزينة</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <i class="fa-solid fa-lock"></i>
                        <h5 class="card-title">إغلاق حركة الخزينة</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <i class="fa-solid fa-lock-open"></i>
                        <h5 class="card-title">فتح حركة خزينة مغلقة</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <i class="fa-solid fa-lock"></i>
                        <h5 class="card-title">إغلاق حركة خزينة مفتوحة</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <i class="fa-solid fa-file-invoice"></i>
                        <h5 class="card-title">كشف حركة الخزينة</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>