<main id="treasury-index">
    <div class="container-fluid">
        <app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
        <!-- <h2 class="text-center fw-bold">حركة الخزينة</h2> -->
        <div class="row">
            <div class="col-lg-4 mt-3">
                <a routerLink="supply-receipt" class="card text-decoration-none">
                    <div class="card-body">
                        <i class="fa-solid fa-receipt"></i>
                        <h5 class="card-title">إيصال توريد</h5>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 mt-3">
                <a routerLink="exchange-permission" class="card text-decoration-none">
                    <div class="card-body">
                        <i class="fa-solid fa-money-bill-transfer"></i>
                        <h5 class="card-title">إذن صرف خزينة</h5>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="card">
                    <div class="card-body" data-bs-toggle="modal" data-bs-target="#closeTreasuryModal">
                        <i class="fa-solid fa-lock"></i>
                        <h5 class="card-title">إغلاق حركة الخزينة</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="card">
                    <div class="card-body" data-bs-toggle="modal" data-bs-target="#openTreasuryModal">
                        <i class="fa-solid fa-lock-open"></i>
                        <h5 class="card-title">فتح حركة خزينة مغلقة</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="card">
                    <div class="card-body" data-bs-toggle="modal" data-bs-target="#reCloseTreasuryModal">
                        <i class="fa-solid fa-lock"></i>
                        <h5 class="card-title">إعادة إغلاق حركة خزينة</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="card">
                    <div class="card-body" data-bs-toggle="modal" data-bs-target="#treasuryReportModal">
                        <i class="fa-solid fa-file-invoice"></i>
                        <h5 class="card-title">كشف حركة الخزينة</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>





<div class="modal fade" id="closeTreasuryModal" tabindex="-1" aria-labelledby="closeTreasuryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="closeTreasuryModalLabel">إغلاق حركة الخزينة</h5>
            </div>
            <div class="modal-body" style="background-image: url('assets/vendors/imgs/pattern.png'); background-size: cover;">
                <form [formGroup]="closeTreasuryForm" (ngSubmit)="submitCloseTreasury()">
                    <div class="p-3 mb-3">
                        <div class="row gy-3">

                            
                            <div class="col-lg-6">
                                <label class="form-label">الخزينة</label>
                                <select class="form-select shadow-none text-end" formControlName="treasuryId">
                                    <option disabled selected value="">اختر الخزينة</option>
                                    <ng-container *ngFor="let treasury of enabledTreasuries">
                                        <option [value]="treasury.id">
                                            {{ treasury.treasuryName }}
                                          </option>                                          
                                    </ng-container>
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <label class="form-label">حتى تاريخ</label>
                                <input type="date" class="form-control shadow-none text-end" formControlName="date" />
                            </div>

                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn-blue px-5" [disabled]="closeTreasuryForm.invalid">إغلاق حركة الخزينة</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="openTreasuryModal" tabindex="-1" aria-labelledby="openTreasuryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="openTreasuryModalLabel">فتح حركة الخزينة المغلقة</h5>
            </div>
            <div class="modal-body" style="background-image: url('assets/vendors/imgs/pattern.png'); background-size: cover;">
                <form [formGroup]="openTreasuryForm" (ngSubmit)="submitOpenTreasury()">
                    <div class="p-3 mb-3">
                        <div class="row gy-3">

                            <div class="col-lg-6">
                                <label class="form-label">التاريخ</label>
                                <input type="date" class="form-control shadow-none text-end" formControlName="date" />
                            </div>
                            <div class="col-lg-6">
                                <label class="form-label">الخزينة</label>
                                <select class="form-select shadow-none text-end" formControlName="treasuryId">
                                    <option disabled selected value="">اختر الخزينة</option>
                                    <ng-container *ngFor="let treasury of disabledTreasuries">
                                        <option [value]="treasury.id">{{treasury.treasuryName + ' (' + treasury.openedIn + ' | ' + (treasury.closedIn || '---------------') + ')' }}</option>
                                    </ng-container>
                                </select>
                            </div>

                            <div class="col-lg-12">
                                <label class="form-label">ملاحظات</label>
                                <textarea rows="3" class="form-control shadow-none text-end" formControlName="notes"></textarea>
                            </div>

                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn-blue px-5" [disabled]="openTreasuryForm.invalid">فتح حركة الخزينة</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="reCloseTreasuryModal" tabindex="-1" aria-labelledby="reCloseTreasuryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="reCloseTreasuryModalLabel">إغلاق حركة الخزينة</h5>
            </div>
            <div class="modal-body" style="background-image: url('assets/vendors/imgs/pattern.png'); background-size: cover;">
                <form [formGroup]="closeTreasuryForm" (ngSubmit)="submitCloseTreasury()">
                    <div class="p-3 mb-3">
                        <div class="row gy-3">

                            <div class="col-lg-6">
                                <label class="form-label">التاريخ</label>
                                <input type="date" class="form-control shadow-none text-end" formControlName="date" />
                            </div>
                            <div class="col-lg-6">
                                <label class="form-label">الخزينة</label>
                                <select class="form-select shadow-none text-end" formControlName="treasuryId">
                                    <option disabled selected value="">اختر الخزينة</option>
                                    <ng-container *ngFor="let treasury of enabledTreasuries">
                                        <option [value]="treasury.id">{{treasury.treasuryName + ' (' + treasury.openedIn + ' | ' + (treasury.closedIn || '---------------') + ')' }}</option>
                                    </ng-container>
                                </select>
                            </div>

                            <div class="col-lg-12">
                                <label class="form-label">ملاحظات</label>
                                <textarea rows="3" class="form-control shadow-none text-end" formControlName="notes"></textarea>
                            </div>

                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn-blue px-5" [disabled]="closeTreasuryForm.invalid">إغلاق حركة الخزينة</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="treasuryReportModal" tabindex="-1" aria-labelledby="treasuryReportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="treasuryReportModalLabel">كشف حركة الخزينة</h5>
            </div>
            <div class="modal-body" style="background-image: url('assets/vendors/imgs/pattern.png'); background-size: cover;">
                <form [formGroup]="treasuryReportForm" (ngSubmit)="showTreasuryReport()">
                    <div class="p-3 mb-3">
                      <div class="row gy-3">
                        <div class="col-lg-6">
                          <label class="form-label">الخزينة</label>
                          <select
                            class="form-select shadow-none text-end"
                            formControlName="treasuryId"
                            (change)="onTreasuryChange($event)"
                          >
                            <option disabled selected value="">اختر الخزينة</option>
                            <ng-container *ngFor="let treasury of treasuries">
                              <option [value]="treasury.id">{{ treasury.name }}</option>
                            </ng-container>
                          </select>
                        </div>
                        <div class="col-lg-6">
                          <label class="form-label">حركة الخزينة</label>
                          <select
                            class="form-select shadow-none text-end"
                            formControlName="movementId"
                            [disabled]="movements.length === 0"
                          >
                            <option disabled selected value="">اختر حركة الخزينة</option>
                            <ng-container *ngFor="let movement of movements">
                                <option [value]="movement.movementId">
                                  {{ movement.movementId }} | 
                                  {{ movement.openedIn }} - 
                                  {{ movement.closedIn ? movement.closedIn : 'مفتوحة' }}
                                </option>
                              </ng-container>                              
                          </select>
                        </div>
                      </div>
                    </div>
                  
                    <div class="text-center">
                      <button type="submit" class="btn-blue px-5" [disabled]="treasuryReportForm.invalid">
                        كشف حركة الخزينة
                      </button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="openTreasuryReportModal" tabindex="-1" aria-labelledby="openTreasuryReportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content" >
            <div id="treasury-report-print">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="openTreasuryReportModalLabel">
                        كشف حركة خزينة رقم {{ treasuryReportData?.id }}
                        من {{ treasuryReportData?.openedIn | date:'yyyy-MM-dd' }}
                        الى {{ treasuryReportData?.closedIn ? treasuryReportData?.closedIn : 'مفتوحة' }}
                    </h5>
                </div>
                <div class="modal-body" style="background-image: url('assets/vendors/imgs/pattern.png'); background-size: cover; direction: rtl;">
                    <div class="d-flex justify-content-between flex-wrap">
                        <div class="flex-fill" style="min-width: 300px; width: 48%;">
                        <h4 class="text-center">الوارد</h4>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>الرقم</th>
                              <th>التاريخ</th>
                              <th>اسم الحساب</th>
                              <th>البيان</th>
                              <th>القيمة</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let t of creditTransactions">
                              <td>{{ t.documentId }}</td>
                              <td>{{ t.date | date:'yyyy-MM-dd' }}</td>
                              <td>{{ getAccountName(t.accountId) }} ({{ t.receivedFrom }})</td>
                              <td>{{ t.description || '-' }}</td>
                              <td>{{ t.credit | number:'1.2-2' }} ج.م</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                        <div class="flex-fill" style="min-width: 300px; width: 48%;">
                        <h4 class="text-center">المنصرف</h4>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>الرقم</th>
                              <th>التاريخ</th>
                              <th>اسم الحساب</th>
                              <th>البيان</th>
                              <th>القيمة</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let t of debitTransactions">
                              <td>{{ t.documentId }}</td>
                              <td>{{ t.date | date:'yyyy-MM-dd' }}</td>
                              <td>{{ getAccountName(t.accountId) }} ({{ t.receivedFrom }})</td>
                              <td>{{ t.description || '-' }}</td>
                              <td>{{ t.debit | number:'1.2-2' }} ج.م</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="mt-4">
                        <table class="table table-bordered text-center">
                            <tfoot>
                                <tr>
                                  <td>
                                    <div class="fw-bold">الرصيد السابق</div>
                                    <div>{{ treasuryReportData?.previousBalance | number:'1.2-2' }} ج.م</div>
                                  </td>
                                  <td>
                                    <div class="fw-bold">إجمالي المقبوضات</div>
                                    <div style="color: green;">
                                      {{ treasuryReportData?.totalCredits | number:'1.2-2' }} ج.م
                                    </div>
                                  </td>                          
                                  <td>
                                    <div class="fw-bold">إجمالي المنصرف</div>
                                    <div style="color: red;">
                                      ( {{ treasuryReportData?.totalDebits | number:'1.2-2' }} ) ج.م
                                    </div>
                                  </td>
                                  <td>
                                    <div class="fw-bold">الرصيد المرحل</div>
                                    <div [ngStyle]="{
                                            color: treasuryReportData?.closingBalance < 0 ? 'red' : 'green',
                                            fontWeight: 'bold'
                                        }">
                                      <ng-container *ngIf="treasuryReportData?.closingBalance < 0">
                                        ( {{ getAbsolute(treasuryReportData?.closingBalance) | number:'1.2-2' }} ) ج.م
                                      </ng-container>
                                      <ng-container *ngIf="treasuryReportData?.closingBalance >= 0">
                                        {{ treasuryReportData?.closingBalance | number:'1.2-2' }} ج.م
                                      </ng-container>
                                    </div>
                                  </td>                          
                                </tr>
                              </tfoot>
                              
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <button class="btn btn-primary" (click)="printTreasuryReport()">طباعة</button>
            </div>              
        </div>
    </div>
</div>