<main id="accountGuidance">
    <div class="container-fluid">
        <p-toast position="top-left"></p-toast>
        <!-- <div class="p-3 mt-4">
            <form [formGroup]="filterForm" (ngSubmit)="applyFilters()" class="p-3 border rounded">
                <div class="row justify-content-between align-items-center">
                    <div class="row col-md-8">
                        <div class="col-md-12">
                            <input type="text" class="form-control shadow-none" placeholder="إبحث بإستخدام المجموعات الرئيسية">
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end align-items-center">
                        <button type="submit" class="btn-blue w-100 mx-2">
                            بحث <i class="fa fa-search me-1"></i> 
                        </button>
                        <button type="button" class="btn-red w-100 mx-2">
                            جديد <i class="fa fa-plus me-1"></i> 
                        </button>
                    </div>
                </div>
            </form>
        </div> -->
        <app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
        <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
            <div class="col-md-8 mb-2">
                <div class="d-flex align-items-center gap-2">
                    <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" data-bs-toggle="modal" data-bs-target="#addAccountGuidanceModal">
                <i class="fas fa-plus-circle"></i>
                <span>إضافة توجيه محاسبي</span>
            </button>
                    <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                <i class="uil uil-filter"></i>
                <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
            </button>
                </div>
            </div>
            <div class="col-md-4 mb-2" *ngIf="total > 0">
                <app-pagination (pageChanged)="onPageChange($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="total"></app-pagination>
            </div>
            <div class="col-md-12 mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
                <div class="d-flex align-items-center">
                    <ng-container>
                        <app-filters [filterData]="accountsGuidances" [filterPlaceholder]="'التوجيه المحاسبي'" [searchPlaceholder]="'ابحث بإستخدام التوجيه المحاسبي ...'" [categoryName]="'Name'" (filterChanged)="filterChecked($event)"></app-filters>
                    </ng-container>
                </div>
            </div>
        </div>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th>الرقم</th>
                    <th>اسم التوجيه المحاسبي</th>
                    <!-- <th>الوصف</th> -->
                    <th>إجراءات</th>
                </tr>
            </thead>
            <tbody *ngIf="accountsGuidances?.length > 0">
                <tr *ngFor="let accountGuidance of accountsGuidances | paginate : { id: 'paginate', itemsPerPage: pagingFilterModel.pageSize, currentPage: pagingFilterModel.currentPage, totalItems: total }" style="cursor: pointer">
                    <td>{{ accountGuidance.id }}</td>
                    <td class="fw-bold">{{ accountGuidance.name }}</td>
                    <!-- <td>{{ accountGuidance.accountGuidanceDescription }}</td> -->
                    <td>
                        <button type="button" class="btn btn-primary mx-2" (click)="editAccountGuidance(accountGuidance.id)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger mx-2" (click)="deleteAccountGuidance(accountGuidance.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="accountsGuidances?.length === 0">
                <tr>
                    <td colspan="3" class="text-center text-muted">لا يوجد توجيهات محاسبية حتى الآن</td>
                </tr>
            </tbody>
        </table>

        <div class="col-lg-12">
            <div *ngIf="total > 16" class="pagination-container my-0 px-3 d-flex justify-content-center align-items-center">
                <div class="my-pagination">
                    <pagination-controls id="paginate" (pageChange)="onPageChange($event)" (pageBoundsCorrection)="onPageChange($event)" [maxSize]="16" [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="" nextLabel="" screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</main>




<div class="modal fade" id="addAccountGuidanceModal" tabindex="-1" aria-labelledby="addAccountGuidanceModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header justify-content-center">
              <h5 class="modal-title" id="addAccountGuidanceModalLabel">
                {{isEditMode ? 'تعديل توجيه محاسبي' : 'إضافة توجيه محاسبي'}}
              </h5>
          </div>
          <div class="modal-body">
            <img src="assets/vendors/imgs/pattern.png" alt="" class="img-fluid">
          <form [formGroup]="accountGuidanceForm" (ngSubmit)="addAccountGuidance()">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-label" for="name">اسم التوجيه المحاسبي</label>
                  <input type="text" class="form-control shadow-none" formControlName="name" id="name" placeholder="أدخل إسم التوجيه المحاسبي">
                  <div *ngIf="accountGuidanceForm.get('name')?.invalid && accountGuidanceForm.get('name')?.touched" class="text-danger">
                    <ng-container *ngIf="accountGuidanceForm.get('name')?.errors?.['required']">اسم التوجيه المحاسبي مطلوب</ng-container>
                    <ng-container *ngIf="accountGuidanceForm.get('name')?.errors?.['minlength']">اسم التوجيه المحاسبي يجب أن يكون أكثر من 3 حروف</ng-container>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="text-center mt-3">
              <button type="submit" class="btn-blue" [disabled]="accountGuidanceForm.invalid">
                {{isEditMode ? "تعديل التوجيه المحاسبي" : "إضافة التوجيه المحاسبي"}}
              </button>
              <button type="button" class="btn-red mx-2" data-bs-dismiss="modal" (click)="resetFormOnClose()">
                خروج
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>