<main id="restrictions">
    <div class="container-fluid">
        <app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
        <!-- <div class="p-3 mt-4">
            <form [formGroup]="filterForm" (ngSubmit)="applyFilters()" class="p-3 border rounded">
                <div class="row justify-content-between">
                    <div class="col-md-8 row">
                        <div class="col-md-4 mb-2">
                            <input type="text" formControlName="SearchText" class="form-control text-end shadow-none" placeholder="إبحث بإستخدام كود الحساب">
                        </div>

                        <div class="col-md-4 mb-2 ">
                            <select class="form-select text-end shadow-none">
                                <option disabled selected value="">اختر التوجيه المحاسبي</option>
                                <option>الخزينة</option>
                                <option>البنك</option>
                                <option>اهلاك</option>
                                <option>الحسابات العامة</option>
                            </select>
                        </div>

                        <div class="col-md-4 mb-2 ">
                            <select class="form-select text-end shadow-none">
                                <option disabled selected value="">اختر نوع الترحيل</option>
                                <option>قيود مرحلة</option>
                                <option>قيود غير مرحلة</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end align-items-center">
                        <button type="submit" class="btn-blue w-100 mx-2">
                            بحث <i class="fa fa-search me-1"></i> 
                        </button>
                        <button data-bs-toggle="modal" data-bs-target="#addRestrictionModal" type="button" class="btn-red w-100 mx-2">
                            جديد <i class="fa fa-plus me-1"></i> 
                        </button>
                    </div>
                </div>
            </form>
        </div> -->
        <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
            <div class="col-md-8 mb-2">
                <div class="d-flex align-items-center gap-2">
                    <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" data-bs-toggle="modal" data-bs-target="#addRestrictionModal">
                <i class="fas fa-plus-circle"></i>
                <span>إضافة قيد</span>
            </button>
                    <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                <i class="uil uil-filter"></i>
                <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
            </button>
                </div>
            </div>
            <div class="col-md-4 mb-2" *ngIf="total > 0">
                <app-pagination (pageChanged)="onPageChange($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="total"></app-pagination>
            </div>
            <div class="col-md-12 mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
                <div class="d-flex align-items-center flex-wrap gap-2">
              
                  <app-filters
                    [filterData]="restrictions"
                    [filterPlaceholder]="'قيود اليومية'"
                    [searchPlaceholder]="'ابحث بإستخدام رقم القيد ...'"
                    [categoryName]="'Type'"
                    (filterChanged)="filterChecked($event)"
                  ></app-filters>
              
                </div>
              </div>
              
        </div>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th>رقم القيد</th>
                    <th>نوع القيد</th>
                    <th>حالة القيد</th>
                    <th>نوع العملية</th>
                    <th>التاريخ</th>
                    <th>مدين كلي</th>
                    <th>دائن كلي</th>
                    <th>الإجراءات</th>
                </tr>
            </thead>
            <tbody *ngIf="restrictions?.length > 0">
                <tr *ngFor="let restriction of restrictions | paginate : { id: 'paginate', itemsPerPage: pagingFilterModel.pageSize, currentPage: pagingFilterModel.currentPage, totalItems: total }" (click)="openRestriction(restriction.id)" style="cursor: pointer">
                    <td>{{ restriction.restrictionNumber }}</td>
                    <td>{{ restriction.restrictionTypeName }}</td>
                    <td>{{ restriction.restrictionStatus || 'غير مرحل' }}</td>
                    <td>{{ restriction.restrictions }}</td>
                    <td>{{ restriction.restrictionDate }}</td>
                    <td>{{ restriction.restrictionDate }}</td>
                    <td>{{ restriction.restrictionDate }}</td>
                    <td>
                        <button type="button" class="btn btn-primary mx-2" (click)="editRestriction(restriction.id)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger mx-2" (click)="deleteRestriction(restriction.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="restrictions?.length === 0">
                <tr>
                    <td colspan="8" class="text-center text-muted">لا يوجد قيود حتى الآن</td>
                </tr>
            </tbody>
        </table>

        <div class="col-lg-12">
            <div *ngIf="total > 16" class="pagination-container my-0 px-3 d-flex justify-content-center align-items-center">
                <div class="my-pagination">
                    <pagination-controls id="paginate" (pageChange)="onPageChange($event)" (pageBoundsCorrection)="onPageChange($event)" [maxSize]="16" [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="" nextLabel="" screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</main>





<div class="modal fade" id="addRestrictionModal" tabindex="-1" aria-labelledby="addRestrictionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="addRestrictionModalLabel">إضافة قيود</h5>
            </div>
            <div class="modal-body" style="background-image: url('assets/vendors/imgs/pattern.png'); background-size: cover;">

                <form [formGroup]="restrictionForm" (ngSubmit)="addRestriction()">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="date">التاريخ</label>
                            <input type="date" formControlName="restrictionDate" class="form-control shadow-none">
                        </div>

                        <div class="col-md-4 mt-3">
                            <label for="restrictionNumber">رقم القيد</label>
                            <input type="number" formControlName="restrictionNumber" class="form-control shadow-none">
                        </div>

                        <div class="col-md-4 mt-3">
                            <label for="restrictionTypeId">نوع القيد</label>
                            <select formControlName="restrictionTypeId" class="form-select shadow-none">
                                <option selected disabled value="">اختر نوع القيد</option>
                                <option value="1">قيد مزدوج</option>
                                <option value="2">قيد مفرد</option>
                            </select>
                        </div>

                        <div class="col-md-4 mt-3">
                            <label for="ledgerNumber">رقم الدفتر</label>
                            <input type="number" formControlName="ledgerNumber" class="form-control shadow-none">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="description">البيان</label>
                            <input type="text" formControlName="description" class="form-control shadow-none" placeholder="">
                        </div>
                    </div>
                    <hr>
                    <h5>الحسابات</h5>
                    <div formArrayName="details">
                        <div class="row mb-3" *ngFor="let item of details.controls; let i = index" [formGroupName]="i">
                          <div class="col-md-2">
                            <label>الحساب</label>
                            <select class="form-select shadow-none" formControlName="accountId">
                              <option disabled selected value="">اختر الحساب</option>
                              <option *ngFor="let i of accounts" [value]="i.accountId">{{ i.nameAR }}</option>
                            </select>
                          </div>
                      
                          <div class="col-md-2">
                            <label>مدين</label>
                            <input type="number" class="form-control shadow-none" formControlName="debit">
                          </div>

                          <div class="col-md-2">
                            <label>دائن</label>
                            <input type="number" class="form-control shadow-none" formControlName="credit">
                          </div>
                          
                        <div class="col-md-2">
                            <label>مركز التكلفة</label>
                            <select class="form-select shadow-none" formControlName="costCenterId">
                                <option disabled selected value="">اختر المركز</option>
                                <option *ngFor="let c of costCentersPerRow[i]" [value]="c.accountId">{{ c.nameAR }}</option>
                            </select>                                                           
                        </div>

                          <div class="col-md-2">
                            <label>ملاحظات</label>
                            <input type="text" class="form-control shadow-none" formControlName="note">
                          </div>
                      
                          <div class="col-md-1 d-flex align-items-end">
                            <button type="button" class="btn btn-danger" (click)="removeItemRow(i)" *ngIf="details.length > 1">
                              <i class="fa fa-trash"></i>
                            </button>
                          </div>
                        </div>
                      
                        <div class="text-start mb-3">
                          <button type="button" class="btn btn-success" (click)="addItemRow()">
                            <i class="fa fa-plus"></i> إضافة حساب
                          </button>
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn-blue" [disabled]="restrictionForm.invalid"> إضافة قيد</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>