<div class="card ">
    <div class="card-header bg-white">
        <h6 class="fw-bold m-0">
            <span *ngIf="!isUpdate" class="ms-3">إنشاء</span>
            <span *ngIf="isUpdate" class="ms-3">تعديل</span>
        </h6>
    </div>
    <div class="card-body ">
        <div class="p-2">
            <form [formGroup]="formGroup" autocomplete="off">
                <!-- <div class="row mb-3">
                    <label class="form-label d-flex align-items-center gap-2">
                        اسم المجموعة
                        <span class="text-danger">*</span>
                    </label>
                    <app-general-selector formControlName="parentId" [data]="parentCostCenterSelectorData" [showSearch]="true" [placeholder]="'اسم المجموعة'"></app-general-selector>
                </div> -->
                <div class="row mb-3">
                    <label class="form-label d-flex align-items-center gap-2">
                        رمز مركز التكلفة
                    </label>
                    <input type="text" class="form-control nw-form-input" formControlName="costCenterNumber" [disabled]="true" autocomplete="off" />
                </div>
                <div class="row mb-3">
                    <label class="form-label d-flex align-items-center gap-2">
                        اسم مركز التكلفة
                    </label>
                    <input type="text" class="form-control nw-form-input" formControlName="nameAR" autocomplete="off" />
                </div>
                <hr class="my-4" />
                <div class="row mb-3">
                    <!-- <div class="col-sm-4 d-flex align-items-center">
                        <label class="form-label d-flex align-items-center gap-2 me-2" for="isGroup">{{formGroup.get('isGroup')?.value ? 'مجموعة' : 'فردي'}}</label>
                        <input class="big-checkbox" formControlName="isGroup" type="checkbox" id="isGroup">
                    </div> -->
                    <div class="col-sm-4 d-flex align-items-center">
                        <label class="form-label d-flex align-items-center gap-2 me-2" for="isActive">{{formGroup.get('isActive')?.value ? 'نشط' : 'غير نشط'}}</label>
                        <input class="big-checkbox" formControlName="isActive" type="checkbox" id="isActive">
                    </div>
                </div>
            </form>
            <div class="row mb-3">
                <div class="col-sm-9">
                    <div class="d-flex align-items-center">
                        <button (click)="saveCostCenter()" class="btn btn-primary ms-2">
                            <i class="fas fa-cogs"></i>
                            <span class="ms-2">{{isUpdate?'تعديل':'أضافة'}}</span>
                        </button>

                        <button class="btn btn-warning btn-lg fs-6 m-2" (click)="initNewForm()">
                            <i class="fas fa-times"></i>
                            <span class="ms-2">مسح</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>