<main id="list-patients" @fadeIn>
    <p-toast position="top-left"></p-toast>
    <div class="container-fluid">
        <app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
        <div class="table-card border radius-10 overflow-hidden shadow-sm">
            <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
                <div class="col-md-8 mb-2">
                    <div class="d-flex align-items-center gap-2">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3" id="dropdownBasic1" ngbDropdownToggle>
                                <i class="fas fa-cogs"></i>
                                <span>الإجراءات</span>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="border rounded py-2" style="min-width: 180px;">
                                <button class="dropdown-item d-flex align-items-center gap-2" (click)="generateTemplateExcel()">
                                    <i class="fas fa-download"></i> تحميل قالب
                                </button>
                                <button class="dropdown-item d-flex align-items-center gap-2" (click)="triggerFileInput(fileInput)">
                                    <i class="fas fa-upload"></i> إدخال ملف Excel
                                </button>
                                <input #fileInput id="fileInput" type='file' (change)="onFileUpload($event)" accept=".xlsx,.xls,.csv" hidden />
                            </div>
                        </div>
                        <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                    <i class="uil uil-filter"></i>
                    <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
                </button>
                    </div>
                </div>
                <div class="col-md-4 mb-2" *ngIf="total > 0">
                    <app-pagination (pageChanged)="onPageChange($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="total"></app-pagination>
                </div>
                <div class="col-md-12 mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
                    <div class="d-flex align-items-center">
                        <ng-container>
                            <app-filters [showSelector]="false" [showDateInput]="true" [searchPlaceholder]="'أدخل إسم الموظف او رقم البصمة ...'" (filterChanged)="filterChecked($event)"></app-filters>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="p-3 bg-white">
                <div class="table-responsive shadow-sm radius-10">
                    <table class="table table-card-table table-borderless table-hover bg-transparent m-0">
                        <thead>
                            <tr>
                                <th rowspan="2">الاسم</th>
                                <th rowspan="2">التاريخ</th>
                                <th rowspan="2">المرتب الأساسي</th>
                                <th rowspan="2">وردية ثانية</th>
                                <th rowspan="2">إضافي</th>
                                <th rowspan="2">الإجمالي</th>
                                <th colspan="4">الخصومات</th>
                                <th rowspan="2">الصافي</th>
                                <th rowspan="2">الضرائب</th>
                                <th rowspan="2">الجزاءات</th>
                                <th rowspan="2">السلف</th>
                                <th rowspan="2">إجمالي الأيام</th>
                                <th rowspan="2">المستحق</th>
                                <th rowspan="2">التوقيع بالاستلام</th>
                            </tr>
                            <tr>
                                <th>تأمينات</th>
                                <th>فرق أيام أساسي</th>
                                <th>غياب</th>
                                <th>إجمالي الخصومات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>هويدا احمد ذكر الله</td>
                                <td>1-8-2025</td>
                                <td>2300</td>
                                <td>0</td>
                                <td class="green">1066.67</td>
                                <td>3366.67</td>
                                <td>253.00</td>
                                <td>0.00</td>
                                <td>660.00</td>
                                <td>913.00</td>
                                <td>2453.67</td>
                                <td>2453.67</td>
                                <td>2454.00</td>
                                <td>2454.00</td>
                                <td>2454.00</td>
                                <td>2454.00</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>سيده سيد نصر</td>
                                <td>1-8-2025</td>
                                <td>2300</td>
                                <td>1035</td>
                                <td class="green">830.00</td>
                                <td>4165.00</td>
                                <td>253.00</td>
                                <td>0.00</td>
                                <td>805.00</td>
                                <td>1058.00</td>
                                <td>3107.00</td>
                                <td>3107.00</td>
                                <td>3107.00</td>
                                <td>3107.00</td>
                                <td>3107.00</td>
                                <td>3107.00</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>هند فاروق حسن</td>
                                <td>1-8-2025</td>
                                <td>2300</td>
                                <td>0</td>
                                <td class="green">266.67</td>
                                <td>2566.67</td>
                                <td>253.00</td>
                                <td>0.00</td>
                                <td>660.00</td>
                                <td>913.00</td>
                                <td>1653.67</td>
                                <td>1653.67</td>
                                <td>1654.00</td>
                                <td>1654.00</td>
                                <td>1654.00</td>
                                <td>1654.00</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>رباب شفيق شبل</td>
                                <td>1-8-2025</td>
                                <td>2300</td>
                                <td>0</td>
                                <td class="green">394.67</td>
                                <td>2694.67</td>
                                <td>253.00</td>
                                <td>0.00</td>
                                <td>780.00</td>
                                <td>1033.00</td>
                                <td>1661.67</td>
                                <td>1661.67</td>
                                <td>1662.00</td>
                                <td>1662.00</td>
                                <td>1662.00</td>
                                <td>1662.00</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>نجوى سلطان محمد</td>
                                <td>1-8-2025</td>
                                <td>2300</td>
                                <td>1035</td>
                                <td class="green">583.33</td>
                                <td>3918.33</td>
                                <td>253.00</td>
                                <td>0.00</td>
                                <td>795.00</td>
                                <td>1048.00</td>
                                <td>2870.33</td>
                                <td>2870.33</td>
                                <td>2871.00</td>
                                <td>2871.00</td>
                                <td>2871.00</td>
                                <td>2871.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>الإجمالي</td>
                                <td></td>
                                <td>11500</td>
                                <td>2070</td>
                                <td class="green">3141.33</td>
                                <td>16711.33</td>
                                <td>1265.00</td>
                                <td>0.00</td>
                                <td>3700.00</td>
                                <td>4965.00</td>
                                <td>11746.33</td>
                                <td>0.00</td>
                                <td>11748.00</td>
                                <td>11748.00</td>
                                <td>11748.00</td>
                                <td>11748.00</td>
                                <td>----------------------</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
                    <div class="col-md-8 mb-2"></div>
                    <div class="col-md-4 mb-2" *ngIf="total > 0">
                        <app-pagination (pageChanged)="onPageChange($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="total"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<ng-template #SalarySidePanel let-offcanvas>
    <div class="offcanvas-header border-bottom py-4 px-4 bg-white shadow-sm">
        <i class="fas fa-user-plus text-primary fs-3 me-2"></i>
        <h5 class="mb-0 fw-bold">استيراد ملف رواتب الموظفين</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <div class="offcanvas-body p-4 bg-light">
        <div class="card shadow-sm rounded-4 border-0">
            <div class="card-body p-4">
                <h5 class="fw-semibold mb-4 border-bottom pb-2">معاينة البيانات المستوردة</h5>

                <div class="table-responsive" style="max-height: 700px;">
                    <table class="table table-bordered align-middle text-center table-hover table-striped mb-0" style="min-width: max-content;">
                        <thead class="table-primary text-dark">
                            <tr>
                                <th *ngFor="let col of headers" class="text-nowrap px-3 py-2">{{ col }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of data; let rowIndex = index">
                                <ng-container *ngFor="let col of headers">
                                    <td class="px-2 py-1">
                                        <input type="text" [(ngModel)]="data[rowIndex][col]" class="form-control form-control-sm shadow-none text-center border-light" style="min-width: 120px;" />
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer p-4 border-top bg-white shadow-sm">
        <div class="d-flex justify-content-center">
            <button class="btn btn-success btn-lg px-5 py-2 rounded-pill shadow-sm">
                <i class="fas fa-save me-2"></i>
                <span>معاينة</span>
            </button>
        </div>
    </div>
</ng-template>