<main id="ins-form">
  <div class="container-fluid">
    <form [formGroup]="insuranceForm" class="form p-2" (ngSubmit)="onSubmit()">
      <p-toast position="top-left"></p-toast>
      <h4>🏢تفاصيل الشركة</h4>
      <div class="row">
        <div class="col-lg-6">
          <label class="form-label" for="name"
            >اسم الشركة:<span class="text-danger">*</span></label
          >
          <input
            id="name"
            class="form-control shadow-none"
            formControlName="name"
            placeholder="أدخل اسم الشركة"
          />
          <div
            *ngIf="
              insuranceForm.get('name')?.touched &&
              insuranceForm.get('name')?.hasError('required')
            "
            class="text-danger"
          >
            اسم الشركة مطلوب
          </div>

          <label class="form-label" for="code"
            >كود الشركة:<span class="text-danger">*</span></label
          >
          <input
            id="code"
            class="form-control shadow-none"
            formControlName="code"
            placeholder="أدخل كود الشركة"
          />
        </div>

        <div class="col-lg-6">
          <label class="form-label" for="email"
            ><span class="text-danger">*</span>البريد الإلكتروني:<span
              class="text-danger"
              >*</span
            ></label
          >
          <input
            id="email"
            class="form-control shadow-none"
            formControlName="email"
            placeholder="أدخل البريد الإلكتروني"
          />
          <div
            *ngIf="
              insuranceForm.get('email')?.touched &&
              insuranceForm.get('email')?.hasError('required')
            "
            class="text-danger"
          >
            البريد الإلكتروني مطلوب
          </div>
          <div
            *ngIf="
              insuranceForm.get('email')?.touched &&
              insuranceForm.get('email')?.hasError('email')
            "
            class="text-danger"
          >
            يرجى إدخال بريد إلكتروني صحيح
          </div>

          <label class="form-label" for="phone"
            >رقم الهاتف:<span class="text-danger">*</span></label
          >
          <input
            id="phone"
            class="form-control shadow-none"
            formControlName="phone"
            placeholder="أدخل رقم الهاتف"
          />
          <div
            *ngIf="
              insuranceForm.get('phone')?.touched &&
              insuranceForm.get('phone')?.hasError('required')
            "
            class="text-danger"
          >
            رقم الهاتف مطلوب
          </div>
          <div
            *ngIf="
              insuranceForm.get('phone')?.touched &&
              insuranceForm.get('phone')?.hasError('pattern')
            "
            class="text-danger"
          >
            يرجى إدخال رقم هاتف صحيح
          </div>
        </div>
      </div>

      <h4 class="mt-3">📋تفاصيل العقد</h4>
      <div class="row">
        <div class="col-lg-6">
          <label class="form-label" for="contractStartDate"
            >تاريخ بدء العقد:<span class="text-danger">*</span></label
          >
          <input
            id="contractStartDate"
            type="date"
            class="form-control shadow-none"
            formControlName="contractStartDate"
          />
          <div
            *ngIf="
              insuranceForm.get('contractStartDate')?.touched &&
              insuranceForm.get('contractStartDate')?.hasError('required')
            "
            class="text-danger"
          >
            تاريخ البدء مطلوب
          </div>
        </div>

        <div class="col-lg-6">
          <label class="form-label" for="contractEndDate"
            >تاريخ انتهاء العقد:<span class="text-danger">*</span></label
          >
          <input
            id="contractEndDate"
            type="date"
            class="form-control shadow-none"
            formControlName="contractEndDate"
          />
          <div
            *ngIf="
              insuranceForm.get('contractEndDate')?.touched &&
              insuranceForm.get('contractEndDate')?.hasError('required')
            "
            class="text-danger"
          >
            تاريخ الانتهاء مطلوب
          </div>
        </div>
        <div
          *ngIf="
            insuranceForm.touched && insuranceForm.hasError('invalidDateRange')
          "
          class="text-danger"
        >
          تاريخ البدء يجب أن يكون قبل أو يساوي تاريخ الانتهاء
        </div>
      </div>

      <!-- <label class="form-label" for="contractDescription">وصف العقد:</label>
          <textarea id="contractDescription" class="form-control shadow-none" formControlName="description" placeholder="أدخل وصف العقد"></textarea> -->

      <h4 class="mt-3">🛡️فئات التغطية</h4>
      <div class="mb-3" formArrayName="insuranceCategories">
        <div
          *ngFor="let category of insuranceCategories.controls; let i = index"
          [formGroupName]="i"
          class="row mb-2 align-items-end"
        >
          <div class="col-lg-5">
            <label class="form-label"
              >اسم الفئة<span class="text-danger">*</span></label
            >
            <input
              class="form-control shadow-none"
              formControlName="name"
              placeholder="أدخل اسم الفئة"
            />
            <div
              *ngIf="
                category.get('name')?.touched &&
                category.get('name')?.hasError('required')
              "
              class="text-danger"
            >
              اسم الفئة مطلوب
            </div>
          </div>
          <div class="col-lg-5">
            <label class="form-label"
              >نسبة التغطية (%)<span class="text-danger">*</span></label
            >
            <input
              type="number"
              class="form-control shadow-none"
              formControlName="rate"
              placeholder="أدخل نسبة التغطية (%)"
              min="0"
              max="100"
            />
            <div
              *ngIf="
                category.get('rate')?.touched &&
                category.get('rate')?.hasError('required')
              "
              class="text-danger"
            >
              نسبة التغطية مطلوبة
            </div>
            <div
              *ngIf="
                category.get('rate')?.touched &&
                (category.get('rate')?.hasError('min') ||
                  category.get('rate')?.hasError('max'))
              "
              class="text-danger"
            >
              يجب أن تكون النسبة بين 0 و100
            </div>
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn-blue" (click)="addCategory()">
              إضافة فئة
            </button>
            <button
              type="button"
              class="btn-red mx-1"
              (click)="removeCategory(i)"
            >
              حذف
            </button>
          </div>
        </div>
      </div>
      <div class="row justify-content-center gap-2 px-3">
        <button
          type="submit"
          [disabled]="insuranceForm.invalid"
          class="btn-blue col-2"
        >
          حفظ البيانات
        </button>
        <button type="reset" class="btn-outline-blue col-2">إلغاء</button>
      </div>
    </form>
  </div>
</main>
