<main id="login" @fadeIn>
  <div class="bg-layer-3"></div>
  <div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="carde shadow-lg p-4" style="width: 100%; max-width: 450px;">  
      <div class="text-center">
        <img src="../../../assets/vendors/imgs/logo.png" width="211" alt="Logo">
      </div>
      <form [formGroup]="loignForm" (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label class="form-label">إسم المستخدم</label>
          <input
            placeholder="إسم المستخدم"
            type="email"
            class="form-control"
            formControlName="email"
          />
          <div *ngIf="loignForm.get('email')?.invalid && loignForm.get('email')?.touched" class="text-danger">
             إسم المستخدم مطلوب
          </div>
        </div>
  
        <div class="mb-3">
          <label class="form-label">كلمة المرور</label>
          <input
            placeholder="كلمة المرور"
            type="password"
            class="form-control"
            formControlName="password"
          />
          <div *ngIf="loignForm.get('password')?.invalid && loignForm.get('password')?.touched" class="text-danger">
            كلمة المرور مطلوبة
          </div>
        </div>  
        
        <div *ngIf="message" class="text-danger text-center mb-2">
          {{ message }}
        </div>
        <button type="submit" [disabled]="loignForm.invalid" class="btn-blue w-100">تسجيل الدخول</button>
        <div class="text-center mt-3">
          <p>هل نسيت كلمة المرور ؟ <a href="">تغيير كلمة المرور</a></p>
        </div>
      </form>
    </div>
  </div>
</main>