<main id="job-levels">
    <div class="container-fluid">
        <app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
        <div class="card p-2">
            <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
                <div class="col-md-8 mb-2">
                    <div class="d-flex align-items-center gap-2">
                        <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" data-bs-toggle="modal" data-bs-target="#addjobLevelModal">
                    <i class="fas fa-plus-circle"></i>
                    <span>إضافة مستوى</span>
                </button>
                        <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                    <i class="uil uil-filter"></i>
                    <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
                </button>
                    </div>
                </div>
                <div class="col-md-4 mb-2" *ngIf="total > 0">
                    <app-pagination (pageChanged)="onPageChange($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="total"></app-pagination>
                </div>
                <div class="col-md-12 mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
                    <div class="d-flex align-items-center">
                        <ng-container>
                            <app-filters [showSelector]="false" [searchPlaceholder]="'أدخل إسم المستوى ...'" (filterChanged)="applyFilters($event)"></app-filters>
                        </ng-container>
                    </div>
                </div>
            </div>
            <p-toast position="top-left"></p-toast>
            <table class="table table-hover mt-4">
                <thead>
                    <tr>
                        <th>رقم المستوى</th>
                        <th>إسم المستوى</th>
                        <th>الحالة</th>
                        <th>الإجراءات</th>
                    </tr>
                </thead>
                <tbody *ngIf="jobLevels?.length > 0">
                    <tr *ngFor="let jobLevel of jobLevels | paginate : { id: 'paginate', itemsPerPage: pagingFilterModel.pageSize, currentPage: pagingFilterModel.currentPage, totalItems: total }" (click)="openjobLevelDetails(jobLevel.id)" style="cursor: pointer">
                        <td class="text-secondary">{{ jobLevel.id }}</td>
                        <td>
                            <div class="d-flex align-items-center gap-2 justify-content-start">
                                <div class="avatar-circle">{{ jobLevel.name?.charAt(0) }}</div>
                                <span class="fw-bold">{{ jobLevel.name }}</span>
                            </div>
                        </td>
                        <td class="text-secondary" [ngClass]="jobLevel.status ==='نشط' ? 'text-success' : 'text-danger'">{{ jobLevel.status }}</td>
                        <td>
                            <button type="button" class="btn-outline-blue" data-bs-toggle="modal" data-bs-target="#editjobLevelModal" (click)="openjobLevelDetails(jobLevel.id)">
                              <i class="fa-solid fa-pen"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="jobLevels?.length === 0">
                    <tr>
                        <td colspan="4" class="text-center text-muted">لا يوجد فئات حتى الآن</td>
                    </tr>
                </tbody>
            </table>

            <div class="col-lg-12">
                <div *ngIf="total > 16" class="pagination-container my-0 px-3 d-flex justify-content-center align-items-center">
                    <div class="my-pagination">
                        <pagination-controls id="paginate" (pageChange)="onPageChange($event)" (pageBoundsCorrection)="onPageChange($event)" [maxSize]="16" [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="" nextLabel="" screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<div class="modal fade" id="addjobLevelModal" tabindex="-1" aria-labelledby="addjobLevelModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="assets/vendors/imgs/pattern.png" alt="" class="img-fluid">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="addjobLevelModalLabel">إضافة مستوى</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="jobLevelForm" (ngSubmit)="addjobLevel()">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-label" for="name">إسم المستوى</label>
                                <input type="text" class="form-control shadow-none" formControlName="name" id="name" placeholder="أدخل إسم المستوى">
                                <div *ngIf="jobLevelForm.get('name')?.invalid && jobLevelForm.get('name')?.touched" class="text-danger">
                                    <ng-container *ngIf="jobLevelForm.get('name')?.errors?.['required']">إسم المستوى مطلوب</ng-container>
                                    <ng-container *ngIf="jobLevelForm.get('name')?.errors?.['minlength']">إسم المستوى يجب أن يكون أكثر من 3 حروف</ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-label" for="description">الوصف</label>
                                <textarea class="form-control shadow-none" formControlName="description" id="description" placeholder="أدخل الوصف"></textarea>
                                <div *ngIf="jobLevelForm.get('description')?.invalid && jobLevelForm.get('description')?.touched" class="text-danger">
                                    <ng-container *ngIf="jobLevelForm.get('description')?.errors?.['required']">الوصف مطلوب</ng-container>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center mt-3">
                        <button type="submit" class="btn-blue" [disabled]="jobLevelForm.invalid">إضافة المستوى</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editjobLevelModal" tabindex="-1" aria-labelledby="editjobLevelModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <img src="assets/vendors/imgs/pattern.png" alt="" class="img-fluid">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="editjobLevelModalLabel">تعديل المستوى</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="jobLevelForm" (ngSubmit)="editjobLevel()">
                    <div class="row">
                        <div class="col-lg-6 mb-2">
                            <div class="form-group">
                                <label class="form-label" for="name">إسم المستوى</label>
                                <input type="text" class="form-control shadow-none" formControlName="name" id="name">
                                <div *ngIf="jobLevelForm.get('name')?.invalid && jobLevelForm.get('name')?.touched" class="text-danger">
                                    <ng-container *ngIf="jobLevelForm.get('name')?.errors?.['required']">إسم المستوى مطلوب</ng-container>
                                    <ng-container *ngIf="jobLevelForm.get('name')?.errors?.['minlength']">إسم المستوى يجب أن يكون أكثر من 3 حروف</ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-2">
                            <div class="form-group">
                                <label class="form-label" for="status">الحالة</label>
                                <select class="form-select shadow-none" formControlName="status" id="status">
                    <option selected disabled value="">اختر الحالة</option>
                    <option value="Active">نشط</option>
                    <option value="Inactive">غير نشط</option>
                  </select>
                                <div *ngIf="jobLevelForm.get('status')?.invalid && jobLevelForm.get('status')?.touched" class="text-danger">
                                    <ng-container *ngIf="jobLevelForm.get('status')?.errors?.['required']">الحالة مطلوبة</ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-2">
                            <div class="form-group">
                                <label class="form-label" for="description">الوصف</label>
                                <textarea class="form-control shadow-none" formControlName="description" id="description"></textarea>
                                <div *ngIf="jobLevelForm.get('description')?.invalid && jobLevelForm.get('description')?.touched" class="text-danger">
                                    <ng-container *ngIf="jobLevelForm.get('description')?.errors?.['required']">الوصف مطلوب</ng-container>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn-blue" [disabled]="jobLevelForm.invalid">تعديل المستوى</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>