<main id="issue-items">
    <div class="container-fluid">
        <app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
        <!-- <div class="p-3 mt-4">
            <form [formGroup]="filterForm" (ngSubmit)="applyFilters()" class="p-3 border rounded">
                <div class="row justify-content-between align-items-center">
                    <div class="row col-md-8">
                        <div class="col-md-3">
                            <select formControlName="type" name="" id="" class="form-select text-end shadow-none">
                                <option selected disabled value="">اختر نوع الإضافة</option>
                                <option value="">فاتورة مورد</option>
                                <option value="">زيادة جرد مخازن</option>
                                <option value="">إستلام منتج جاهز</option>
                                <option value="">تحويلات بين المخازن</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select formControlName="responsible" name="" id="" class="form-select text-end shadow-none">
                                <option selected disabled value="">اختر اسم المخزن</option>
                                <option value="">المخزن</option>
                                <option value="">المخزن</option>
                                <option value="">المخزن</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" formControlName="SearchText" placeholder="ابحث بإستخدام إذن الإضافة أو رقم الفاتورة" class="form-control text-end shadow-none" />
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end align-items-center">
                        <button type="submit" class="btn-blue w-100 mx-2">
                            بحث <i class="fa fa-search me-1"></i> 
                        </button>
                        <button data-bs-toggle="modal" data-bs-target="#addPermissionModal" type="button" class="btn-red w-100 mx-2">
                            جديد <i class="fa fa-plus me-1"></i> 
                        </button>
                    </div>
                </div>
            </form>
        </div> -->
        <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
            <div class="col-md-8 mb-2">
                <div class="d-flex align-items-center gap-2">
                    <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" data-bs-toggle="modal" data-bs-target="#addPermissionModal">
                <i class="fas fa-plus-circle"></i>
                <span>إضافة إذن صرف</span>
            </button>
                    <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                <i class="uil uil-filter"></i>
                <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
            </button>
                </div>
            </div>
            <div class="col-md-4 mb-2" *ngIf="total > 0">
                <app-pagination (pageChanged)="onPageChange($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="total"></app-pagination>
            </div>
            <div class="col-md-12 mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
                <div class="d-flex align-items-center">
                    <ng-container>
                        <app-filters [filterData]="allItems" [filterPlaceholder]="'المخزن'" [searchPlaceholder]="'ابحث بإستخدام إذن الصرف أو رقم الفاتورة ...'" [categoryName]="'Type'" (filterChanged)="filterChecked($event)"></app-filters>
                    </ng-container>
                </div>
            </div>
        </div>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th>إذن الصرف</th>
                    <th>التاريخ</th>
                    <th>نوع الصرف</th>
                    <th>يصرف إلى</th>
                    <th>رقم المستند</th>
                    <th>الإجراءات</th>
                </tr>
            </thead>
            <tbody *ngIf="adds?.length > 0">
                <tr *ngFor="let add of adds | paginate : { id: 'paginate', itemsPerPage: pagingFilterModel.pageSize, currentPage: pagingFilterModel.currentPage, totalItems: total }" (click)="openMainGroup(add.id)" style="cursor: pointer">
                    <td>{{ add.permissionNumber }}</td>
                    <td>{{ add.permissionDate | date:'yyyy-MM-dd' }}</td>
                    <td>{{ add.typeName }}</td>
                    <td>{{ add.storeName }}</td>
                    <td>{{ add.documentNumber }}</td>

                    <td>
                        <button type="button" class="btn btn-primary mx-2" (click)="editPermission(add.id)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger mx-2" (click)="deletePermission(add.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="adds?.length === 0">
                <tr>
                    <td colspan="8" class="text-center text-muted">لا يوجد أذون صرف حتى الآن</td>
                </tr>
            </tbody>
        </table>

        <div class="col-lg-12">
            <div *ngIf="total > 16" class="pagination-container my-0 px-3 d-flex justify-content-center align-items-center">
                <div class="my-pagination">
                    <pagination-controls id="paginate" (pageChange)="onPageChange($event)" (pageBoundsCorrection)="onPageChange($event)" [maxSize]="16" [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="" nextLabel="" screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</main>




<div class="modal fade" id="addPermissionModal" tabindex="-1" aria-labelledby="addPermissionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="addPermissionModalLabel">
                    {{isEditMode ? 'تعديل إذن صرف' : 'إذن صرف جديد'}}
                </h5>
            </div>
            <div class="modal-body" style="background-image: url('assets/vendors/imgs/pattern.png'); background-size: cover;">
                <form [formGroup]="addPermissionForm" (ngSubmit)="addPermission()">
                    <div class="p-3 mb-3">
                        <div class="row gy-3">

                            <div class="col-md-3">
                                <label>التاريخ</label>
                                <input type="date" class="form-control shadow-none text-end" formControlName="permissionDate" />
                            </div>

                            <div class="col-md-3">
                                <label>رقم المستند</label>
                                <input type="text" class="form-control shadow-none text-end" formControlName="documentNumber" />
                            </div>

                            <div class="col-md-3">
                                <label>صرف من</label>
                                <select class="form-select shadow-none text-end" formControlName="storeId">
                                    <option disabled selected value="">اختر صرف من</option>
                                    <option *ngFor="let store of stores" [value]="store.id">{{ store.name }}</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label>صرف إلى</label>
                                <select class="form-select shadow-none text-end" formControlName="branchId">
                                    <option disabled selected value="">اختر صرف إلى</option>
                                    <option *ngFor="let branch of branchs" [value]="branch.id">{{ branch.name }}</option>
                                </select>
                            </div>

                            <div formArrayName="items">
                                <div class="row mb-3" *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                                  <div class="col-md-2">
                                    <label>الصنف</label>
                                    <select class="form-select shadow-none" formControlName="itemId">
                                      <option disabled selected value="">اختر الصنف</option>
                                      <option *ngFor="let i of allItems" [value]="i.id">{{ i.nameAr }}</option>
                                    </select>
                                  </div>
                              
                                  <div class="col-md-2">
                                    <label>الوحدة</label>
                                    <input type="text" class="form-control shadow-none" formControlName="unit">
                                  </div>
                                  <div class="col-md-2">
                                    <label>الكمية</label>
                                    <input type="number" class="form-control shadow-none" formControlName="quantity">
                                  </div>
                                  <div class="col-md-2">
                                    <label>السعر</label>
                                    <input type="number" class="form-control shadow-none" formControlName="unitPrice">
                                  </div>
                                  <div class="col-md-2">
                                    <label>الإجمالي</label>
                                    <input type="number" class="form-control shadow-none" formControlName="totalPrice">
                                  </div>
                              
                                  <div class="col-md-1 d-flex align-items-end">
                                    <button type="button" class="btn btn-danger" (click)="removeItemRow(i)" *ngIf="items.length > 1">
                                      <i class="fa fa-trash"></i>
                                    </button>
                                  </div>
                                </div>
                              
                                <div class="text-start mb-3">
                                  <button type="button" class="btn btn-success" (click)="addItemRow()">
                                    <i class="fa fa-plus"></i> إضافة صنف
                                  </button>
                                </div>
                              </div>

                            <div class="col-md-12">
                                <label>ملاحظات</label>
                                <textarea rows="3" class="form-control shadow-none text-end" formControlName="notes"></textarea>
                            </div>

                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn-blue px-5" [disabled]="addPermissionForm.invalid">إضافة إذن</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>