<main id="items-group">
    <div class="container-fluid">
        <app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
        <p-toast position="top-left"></p-toast>
        <!-- <div class="p-3 mt-4">
            <form [formGroup]="filterForm" (ngSubmit)="applyFilters()" class="p-3 border rounded">
                <div class="row justify-content-between">
                    <div class="col-md-8 row">
                        <div class="col-md-6 mb-2 ">
                            <select class="form-select text-end shadow-none">
                                <option disabled selected value="">اختر مجموعة رئيسية</option>
                                <option>خامات</option>
                                <option>مواد</option>
                                <option>خدمات</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-2">
                            <input type="text" formControlName="SearchText" class="form-control text-end shadow-none" placeholder="إبحث بإستخدام وصف المجموعة">
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end align-items-center">
                        <button type="submit" class="btn-blue w-100 mx-2">
                            بحث <i class="fa fa-search me-1"></i> 
                        </button>
                        <button type="button" class="btn-red w-100 mx-2">
                            جديد <i class="fa fa-plus me-1"></i> 
                        </button>
                    </div>
                </div>
            </form>
        </div> -->
        <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
            <div class="col-md-8 mb-2">
                <div class="d-flex align-items-center gap-2">
                    <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" data-bs-toggle="modal" data-bs-target="#addItemGropModal">
                <i class="fas fa-plus-circle"></i>
                <span>إضافة مجموعة أصناف</span>
            </button>
                    <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                <i class="uil uil-filter"></i>
                <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
            </button>
                </div>
            </div>
            <div class="col-md-4 mb-2" *ngIf="total > 0">
                <app-pagination (pageChanged)="onPageChange($event)" [currentPage]="pagingFilterModel.currentPage" [pageSize]="pagingFilterModel.pageSize" [totalCount]="total"></app-pagination>
            </div>
            <div class="col-md-12 mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
                <div class="d-flex align-items-center">
                    <ng-container>
                        <app-filters [filterData]="itemGroups" [filterPlaceholder]="'المجموعة أصناف'" [searchPlaceholder]="'ابحث بإستخدام اسم المجموعة أصناف ...'" [categoryName]="'Type'" (filterChanged)="filterChecked($event)"></app-filters>
                    </ng-container>
                </div>
            </div>
        </div>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th>الرقم</th>
                    <th>الإسم</th>
                    <th>المجموعات الرئيسية</th>
                    <th>إجراءات</th>
                </tr>
            </thead>
            <tbody *ngIf="itemGroups?.length > 0">
                <tr *ngFor="let mainGroup of itemGroups | paginate : { id: 'paginate', itemsPerPage: pagingFilterModel.pageSize, currentPage: pagingFilterModel.currentPage, totalItems: total }" (click)="openMainGroup(mainGroup.id)" style="cursor: pointer">
                    <td>{{ mainGroup.id }}</td>
                    <td>{{ mainGroup.name }}</td>
                    <td>{{ mainGroup.mainGroupName }}</td>
                    <td>
                        <button type="button" class="btn btn-primary mx-2" (click)="editItemGroup(mainGroup.id)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger mx-2" (click)="deleteItemGroup(mainGroup.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="itemGroups?.length === 0">
                <tr>
                    <td colspan="4" class="text-center text-muted">لا يوجد مجموعات أصناف حتى الآن</td>
                </tr>
            </tbody>
        </table>

        <div class="col-lg-12">
            <div *ngIf="total > 16" class="pagination-container my-0 px-3 d-flex justify-content-center align-items-center">
                <div class="my-pagination">
                    <pagination-controls id="paginate" (pageChange)="onPageChange($event)" (pageBoundsCorrection)="onPageChange($event)" [maxSize]="16" [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="" nextLabel="" screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</main>





<div class="modal fade" id="addItemGropModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="addItemGropModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="addItemGropModalLabel">
                   {{ isEditMode ? 'تعديل مجموعة أصناف' : 'إضافة مجموعة أصناف' }}
                </h5>
            </div>
            <div class="modal-body">
                <img src="assets/vendors/imgs/pattern.png" alt="" class="img-fluid">
                <form [formGroup]="itemGroup" (ngSubmit)="addItemGroup()">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="name">المجموعة الرئيسية</label>
                                <ng-select
                                [items]="mainGroups"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="اختر المجموعة الرئيسية"
                                formControlName="mainGroupId"
                                class="text-end shadow-none w-100"
                                [searchable]="true"
                              >
                              </ng-select>
                                <div *ngIf="itemGroup.get('mainGroupId')?.invalid && itemGroup.get('mainGroupId')?.touched" class="text-danger">
                                    <ng-container *ngIf="itemGroup.get('mainGroupId')?.errors?.['required']">المجموعة الرئيسية مطلوبة</ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="name">إسم مجموعة الأصناف</label>
                                <input type="text" class="form-control shadow-none" formControlName="name" id="name" placeholder="أدخل إسم مجموعة الأصناف">
                                <div *ngIf="itemGroup.get('name')?.invalid && itemGroup.get('name')?.touched" class="text-danger">
                                    <ng-container *ngIf="itemGroup.get('name')?.errors?.['required']">إسم مجموعة الأصناف مطلوب</ng-container>
                                    <ng-container *ngIf="itemGroup.get('name')?.errors?.['minlength']">إسم مجموعة الأصناف يجب أن يكون أكثر من 3 حروف</ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-label" for="description">الوصف</label>
                                <textarea class="form-control shadow-none" formControlName="description" id="description" placeholder="أدخل الوصف"></textarea>
                                <div *ngIf="itemGroup.get('description')?.invalid && itemGroup.get('description')?.touched" class="text-danger">
                                    <ng-container *ngIf="itemGroup.get('description')?.errors?.['required']">الوصف مطلوب</ng-container>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center mt-3">
                        <button type="submit" class="btn-blue" [disabled]="itemGroup.invalid">{{ isEditMode ? 'تعديل المجموعة' : 'إضافة المجموعة' }}</button>
                        <button type="button" class="btn-red mx-2" data-bs-dismiss="modal" (click)="resetFormOnClose()">
                            خروج
                          </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>