<main id="year">
    <div class="container-fluid">
        <app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
        <div class="row">
            <div class="col-lg-6 mt-3">
                <a data-bs-toggle="modal" data-bs-target="#newFinYear" class="card text-decoration-none">
                    <div class="card-body">
                        <i class="fa-solid fa-calendar"></i>
                        <h5 class="card-title">إنشاء سنة مالية جديدة</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>



<div class="modal fade" id="newFinYear" tabindex="-1" aria-labelledby="newFinYearLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h5 class="modal-title" id="newFinYearLabel">إنشاء سنة مالية جديدة</h5>
        </div>
  
        <div class="modal-body">
          <form [formGroup]="financialYearForm" (ngSubmit)="submitFinancialYear()">
            <div class="mb-3">
              <label>تاريخ البداية</label>
              <input type="date" class="form-control shadow-none" formControlName="startDate">
            </div>
  
            <div class="mb-3">
              <label>تاريخ النهاية</label>
              <input type="date" class="form-control shadow-none" formControlName="endDate">
              <div *ngIf="financialYearForm.hasError('invalidRange') && financialYearForm.get('endDate')?.touched" class="text-danger mt-1">
                لا يمكن أن تكون النهاية قبل البداية.
              </div>
            </div>
  
            <div class="text-center">
              <button type="submit" class="btn btn-primary px-4" [disabled]="financialYearForm.invalid">
                إنشاء السنة المالية
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  